<app-broker-header></app-broker-header>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <!--<div class="md-form" style="direction: rtl">-->
    <!--<i style="margin-top: 10px" class=" prefix"></i>-->
    <!--<div style="margin-right: 40px;" *ngIf="bookplaces_ngselect?.length > 0">-->
      <!--<ng-select-->
        <!--[options]="bookplaces_ngselect"-->
        <!--(selected)="selectBookPlace($event)">-->
      <!--</ng-select>-->
    <!--</div>-->
    <!--<label style="transform: translateY(-180%)!important;" class="custom-label"   >انتخاب مکان رزرو:</label>-->
  <!--</div>-->


  <!--<div class="md-form" style="direction: rtl">-->
    <!--<i style="margin-top: 10px;" class="fa fa-search  prefix"></i>-->
    <!--<input  style="margin-right: 50px" type="text" id="form1" data-toggle="dropdown" class="form-control">-->
    <!--<label class="custom-label"  for="form1"><span class="require">*</span>فروشگاه:</label>-->
  <!--</div>-->



    <!--<div *ngIf="suggestionBooks?.length > 0"  class="dropdown-menu  dropdown-menu-right" style="height: 300px;overflow: scroll;direction: ltr">-->
    <!--<div *ngFor="let b of suggestionBooks" (click)="selectSuggestion(b)">-->
    <!--<a  class="dropdown-item">-->
    <!--<p style="text-align: right">{{b.title}}</p>-->
    <!--<div class="row">-->
    <!--<div class="col-sm-9">-->
    <!--<p style="text-align: right;font-size: 12px">{{b.author}}</p>-->
    <!--<p style="text-align: right;font-size: 12px">{{b.publisher}}</p>-->
    <!--<p style="text-align: right;font-size: 12px">{{b.translator}}</p>-->
    <!--</div>-->
    <!--<div class="col-sm-3">-->
    <!--<img style="width: 40px;height: 60px" [src]="base + 'file/' + b.coverImage?.id">-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--<div class="dropdown-divider"></div>-->
    <!--</div>-->
    <!--</div>-->

  <form [formGroup]="searchForm">
      <div class="md-form" style="direction: rtl">
        <i style="margin-top: 10px;" class="fa fa-search  prefix"></i>
        <input #title formControlName="title"  style="margin-right: 50px" type="text" id="form2" data-toggle="dropdown" class="form-control">
        <label class="custom-label"  for="form2">جست و جو:</label>
      </div>
  </form>
  <br>
  <div *ngFor="let book of books">
    <app-book [book]="book" [forBroker]="true"></app-book>
  </div>
</div>
<br>
<br>
<br>
