<app-header></app-header>
<br>
<br>
<div class="container">
  <div *ngFor="let store of stores" class="hand-cursor-shadow" [routerLink]="['/store',store.uid]">
    <div class="row" style="padding: 20px">
        <div class="col-sm-10 col-xs-12">
          <p style="text-align: right;margin-right: -10px;font-size: 16px!important;padding-top: 10px">{{store.title}}</p>
          <div *ngIf="store?.address!=''" class="row" style="direction: rtl">
            <label><i style="margin-top: 10px" class="fa fa-map-marker fa-lg prefix"></i> آدرس:</label>
            <label style="font-size: 16px">{{store?.address}}</label>
          </div>
          <div *ngIf="store?.phoneNumber!=''" class="row" style="direction: rtl;margin-top: 10px;">
            <label ><i style="margin-top: 10px" class="fa fa-phone fa-lg prefix"></i> شماره ثابت:</label>
            <label style="font-size: 16px">{{store?.phoneNumber}}</label>
          </div>

          <div *ngIf="store?.mobileNumber!=''" class="row" style="direction: rtl;margin-top: 10px;">
            <label ><i style="margin-top: 10px" class="fa fa-mobile-phone fa-lg prefix"></i> شماره همراه:</label>
            <label style="font-size: 16px">{{store?.mobileNumber}}</label>
          </div>
          <div *ngIf="store?.description!='' && store?.description!=null" class="row" style="direction: rtl;margin-top: 10px;">
            <label ><i  class="fa fa-pencil-square-o fa prefix" style="margin-top: 10px"></i> توضیحات:</label>
            <label style="font-size: 13px">{{store?.description}}</label>
          </div>
        </div>
        <div class="col-sm-2 col-xs-0">
          <img src="../../../assets/images/bs.png" style="height: 150px;border-radius: 5px;margin-top: 10px">
        </div>
    </div>
  </div>
</div>
