<app-header></app-header>
<br>
<div class="container" style="direction: rtl">
  <br>
  <br>
  <br>
  <h6>
  هرگونه استفاده از «بوکسام» به معنی پذیرفتن شرایط مندرج زیر است. بوکسام هیچ توافقی با کاربران خارج از این شرایط ندارد. «کاربر» با ورود به برنامه تأیید می‌کند که آگهی ایشان شامل اقلام ممنوعه نیست و دارای سن بالای ۱۸ سال است. بوکسام در موارد مورد نیاز ممکن است آگهی شما را به طور جزیی تغییر دهد و یا رد کند.
  </h6>
  <br>
  <h6>
  بوکسام در صورت ارتکاب هر یک از موارد زیر می‌تواند آگهی شما را حذف و در صورت تکرار از استفاده منع کند:
  </h6>

<p>    ◾مغایرت با قوانین جاری جمهوری اسلامی ایران و عرف جامعه
</p>
<p>  ◾ناقض حریم شخصی افراد
</p>
<p>  ◾استفاده از اسامی غیر واقعی
</p>

<p>  ◾استفاده از هرگونه کلمه غیر مربوط در عنوان یا سایر بخش‌های آگهی
</p>
<p>  ◾تایپ با حروف انگلیسی به جز در موارد ضروری
</p>

<p>  ◾کتاب‌های فاقد مجوز قانونی برای انتشار و سایر موارد ناقض «قانون حمایت حقوق مؤلفان و مصنفان و هنرمندان»
</p>
<p>  ◾آگهی انجام پروژه‌های دانشجویی و دانش آموزی
</p>
<p>  ◾هر گونه کالایی که موجب رواج خشونت و آسیب رساندن به دیگران می‌شود
</p>
<p>  ◾درج اطلاعات تماس در متن آگهی
</p>
<p>  ◾درج مکرر آگهی‌‌های یکسان حتی با عناوین متفاوت در یک روز
</p>
<p>  ◾وجود جملات نادرست از نظر املائی یا نگارشی
</p>
<p>  ◾مغایرت مشخصات ارائه شده و کالای عرضه شده و عکس
</p>
<p>  ◾کامل نبودن اطلاعات در مورد کتاب که ممکن است خریدار را به اشتباه بیاندازد. مثل سال چاپ یا ویرایش
</p>
<p>  ◾پیشنهاد قیمت غیر واقعی و ایجاد مزاحمت برای سایر کاربران
</p>


<h6>  بوکسام صحت آگهی‌ها را تضمین نمی‌کند و هیچ‌گونه تعهد یا مسئولیتی در قبال آگهی‌ها برعهده نمی‌گیرد.
</h6>
  <br>
<h6>  مسئولیت استفاده از آگهی‌های این سایت بر عهده شماست و بوکسام هیچ تعهدى در قبال خسارات مستقیم، اتفاقى، تبعى، غیرمستقیم و کیفرى، ندارد.
</h6>
  <br>
<h6>  بوکسام مختار است هرگونه پیام، آگهی یا عکسی که به این سایت ارسال می‌کنید یا هر حساب کاربری و اطلاعات دیگری که مربوط به شما یا ایجاد شده توسط شما باشد را هر زمانی و به هر شکلی که ضروری بداند حذف نماید.
</h6>
  <br>
    <h6>
      توصیه برای خرید
    </h6>
  <br>
<p>      تا حد امکان معامله کتاب را در داخل دانشگاه و در حضور چند نفر شاهد انجام دهید.
</p>

  <p>    هرگز پیش از دریافت کالا هزینه‌ای پرداخت نکنید.</p>

<p>      وظیفه کنترل مغایرت کالا با مشخصات موجود در سایت به عهده شماست. بوکسام هیچ مسئولیتی در این مورد بر عهده نمی‌گیرد.
</p>

<p>      در صورت امکان، پس از خرید کالا رسید کتبی معتبر از فروشنده دریافت کنید.
</p>
<p>  بوکسام می‌تواند به میل خود هر زمان این شرایط و قوانین را تغییر دهد.
</p>

  <br>
  <br>
  <br>
</div>
