<br>
<br>
<!--<div class="container wow fadeIn">-->
  <!--&lt;!&ndash;<div class="cat-title z-depth-4  colorPrimaryDark" style="height: 30px" >&ndash;&gt;-->
  <!--&lt;!&ndash;<p class="text-xs-center" style="color: #e8e8e8;">دسته بندی</p>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="card card-cascade wider custom-bg1 z-depth-2" style="width: 100%;height: 250px ;" >&ndash;&gt;-->
  <!--<h6 style="float: right ;padding-right: 30px;margin-bottom: 10px" >{{categorySection.title}}</h6>-->

  <!--<div style="position:relative;clear: right" class="">-->
    <!--<div class="row" style="margin-right:15px ">-->

      <!--<div class="" *ngFor="let cp of this.categorySection.categoryList;let i = index">-->
        <!--<div *ngIf="this.categorySection.categoryList.length == 2"  class="col-sm-6" style="padding: 10px;">-->
          <!--<img class="hand-cursor" [routerLink]="['/book','cat',cp.id,cp.title|decodeUrlPipe]" style=";height: 100%px;width: 100%;border-radius: 5px;padding: 0px;"  [defaultImage]="'../../../assets/Spin.svg'" [lazyLoad]="baseFile + 'fid=' + cp.coverImage.id">-->
        <!--</div>-->

        <!--<div *ngIf="this.categorySection.categoryList.length == 3"  class="col-sm-4" >-->
          <!--<img class="hand-cursor" [routerLink]="['/book','cat',cp.id,cp.title|decodeUrlPipe]" style=";height: 100%px;width: 100%;border-radius: 5px;padding: 0px;"  [defaultImage]="'../../../assets/Spin.svg'" [lazyLoad]="baseFile + 'fid=' + cp.coverImage.id">-->
          <!--&lt;!&ndash;<img class="hand-cursor" [routerLink]="['/book','cat',cp.id,cp.title|decodeUrlPipe]" style=";height: 100%;width: 100%;border-radius: 5px;padding: 0px;"  [src]="'../../../assets/Categories'+(i+1)+'.jpg'">&ndash;&gt;-->
        <!--</div>-->

        <!--<div *ngIf="this.categorySection.categoryList.length == 4"  class="col-sm-3" style="padding: 10px;">-->
          <!--<img class="hand-cursor" [routerLink]="['/book','cat',cp.id,cp.title|decodeUrlPipe]" style=";height: 100%px;width: 100%;border-radius: 5px;padding: 0px;"  [defaultImage]="'../../../assets/Spin.svg'" [lazyLoad]="baseFile + 'fid=' + cp.coverImage.id">-->
        <!--</div>-->
      <!--</div>-->


    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="container wow fadeIn">
<!--<div class="cat-title z-depth-4  colorPrimaryDark" style="height: 30px" >-->
<!--<p class="text-xs-center" style="color: #e8e8e8;">دسته بندی</p>-->
<!--</div>-->
<!--<div class="card card-cascade wider custom-bg1 z-depth-2" style="width: 100%;height: 250px ;" >-->
<h6 style="float: right ;padding-right: 10px;margin-bottom: 10px" >{{categorySection.title}}</h6>
<div style="clear: right"></div>
  <owl-carousel
    #owlElement
    [options]="{dots: false,
        autoplay:false,
        loop:false,
        responsiveClass:true,
        responsive:{
        '0':{
            items:1,
            dots: true
        },
        '500':{
            items:2,
            dots: true
        },
        '800':{
            items:3
        },
        '1000':{
            items:3
        },
        '1200':{
            items:3
        }
       }
    }"
    [items]="categorySection.categoryList"
    [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let cat of categorySection.categoryList;let i = index" style="margin: 5px">
      <img class="hand-cursor" [routerLink]="['/book','cat',cat.id,cat.title|decodeUrlPipe]" style=";height: 100%;width: 100%;border-radius: 5px;padding: 0px;" [lazyLoad]="baseFile + 'fid=' + cat.coverImage.id">
    </div>
  </owl-carousel>
</div>


