img {
  border-radius: 5px !important; }

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 10% !important;
  margin-left: 10% !important;
  width: 80%; }
.radius{
  border-radius: 5px;
}
