<nav class="navbar navbar-dark   header-bg-color" style="z-index: 999">

  <!-- Collapse button-->
  <!--<button style="color: #252f41!important;" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx" aria-controls="collapseEx" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<i class="fa fa-list fa-lg waves-effect" aria-hidden="true"></i>-->
  <!--</button>-->




  <div class="container " style="margin-top: 15px">

    <!--Collabooktent-->
    <!--<div class="collapse navbar-collapse navbar-toggleable-sm" id="collapseEx">-->
      <!--Navbar Brand-->


      <ul class="nav navbar-nav ">



        <div class="btn-group" id="btnNavList">
          <!--<button  type="button" class="btn btn-accent dropdown-toggle" style="float: left;margin-top: -10px;"-->
                   <!--data-toggle="dropdown"  aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></button>-->
          <label   class=" dropdown-toggle" style="color: #53346D;font-size: 30px;float: left;margin-top: -10px;"
                   data-toggle="dropdown"  aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></label>

          <div class="dropdown-menu" style="width: 100%">
            <a class="dropdown-item" [routerLink]="['']"> کتاب ها <i class="fa fa-book " aria-hidden="true"></i></a>
            <a class="dropdown-item" [routerLink]="['/book/search']"> جست و جو <i class="fa fa-search " aria-hidden="true"></i></a>
            <a class="dropdown-item" (click)="openCatModal()"> دسته بندی <i class="fa fa-list-ul" aria-hidden="true"></i></a>
            <a class="dropdown-item" [routerLink]="['/admin']" *ngIf="checkUserAuthority('ROLE_ADMIN')" (click)="openCatModal()"> پنل مدیریت <i class="fa fa-cogs " aria-hidden="true"></i></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" *ngIf="user == null" (click)="openLoginRegisterModal(true)">ورود کاربران</a>
            <a class="dropdown-item" *ngIf="user == null" (click)="openLoginRegisterModal(false)">عضویت</a>
            <h6 class="dropdown-header" *ngIf="user != null">{{user.username}}</h6>
            <a class="dropdown-item" *ngIf="user != null" [routerLink]="['/user/details']">حساب کاربری</a>
            <a class="dropdown-item" *ngIf="user != null&&checkUserAuthority('ROLE_SELLER')" [routerLink]="['/seller/book/new']" [routerLink]="['/user/details']">پنل فروشنده</a>
            <a class="dropdown-item" *ngIf="user != null&&checkUserAuthority('ROLE_BROKER')"[routerLink]="['/broker/book/list']" [routerLink]="['/user/details']"> پنل واسط</a>
            <div *ngIf="user != null" class="dropdown-divider"></div>
            <a class="dropdown-item" *ngIf="user != null" (click)="logOut()">خروج</a>
          </div>
        </div>



        <li class="nav-item " id="logo"  style=";float: right;margin-top: -20px;margin-left: 10px">
          <img [routerLink]="['']" class="hand-cursor" style="height: 50px;" src="../../assets/images/Logo-header-fa.png">
        </li>

        <li class="nav-item" style="float: right">
          <h6 class=" hand-cursor" style="margin-left: 4px;margin-right: 4px;font-size: 13px;;border: solid 1px #252f41;border-radius:2px;padding: 9px" *ngIf="titleActiveProvince.length>0" (click)="openCityModal()" >{{titleActiveProvince}} <i class="fa fa-map-marker " aria-hidden="true"></i></h6>
        </li>

        <li id="step_one_element_id" class="nav-item" style="float: right;" >
          <a [routerLink]="['']" [routerLinkActive]="'nav-item-active'" [routerLinkActiveOptions]="{ exact: true }" class="nav-link waves-effect nav-item-hover"  > کتاب ها <i class="fa fa-book " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>
        <li  class="nav-item"  style="float: right;">
          <a  [routerLink]="['/book/search']"  [routerLinkActive]="'nav-item-active'" class="nav-link waves-effect nav-item-hover"  > جست و جو <i class="fa fa-search " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>
        <li id="my-element"  class="nav-item" (click)="openCatModal()" style="float: right;">
          <a  class="nav-link waves-effect nav-item-hover"> دسته بندی <i class="fa fa-list-ul" aria-hidden="true"></i></a>
        </li>
        <li  class="nav-item" style="float: right;" >
          <a [routerLink]="['/stores']" [routerLinkActive]="'nav-item-active'" class="nav-link waves-effect nav-item-hover"  > فروشگاه ها <i class="fa fa-building-o " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item"   style="float: right;">
          <a [routerLink]="['/admin']" *ngIf="checkUserAuthority('ROLE_ADMIN')" [routerLinkActive]="'nav-item-active'"  class="nav-link waves-effect nav-item-hover"  > پنل مدیریت <i class="fa fa-cogs " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>



        <div style="display: inline-block;margin-top: 5px">



          <li  *ngIf="user == null" class="nav-item" (click)="openLoginRegisterModal(true)"  style="">
            <a style="background-color: #3a7bd5;color: #ffFFff;font-size: 14px;padding-right: 30px;padding-left: 30px;" class="nav-link waves-effect nav-item-sign-in-up"> ورود کاربران</a>
          </li>

          <li *ngIf="user == null" class="nav-item" (click)="openLoginRegisterModal(false)"  style="">
            <a style=";background-color: #00C851;color: #ffFFff;font-size: 14px;padding-right: 30px;padding-left: 30px" class="nav-link waves-effect nav-item-sign-in-up"> عضویت </a>
          </li>
        </div>




        <li *ngIf="user != null" class="nav-item btn-group" style="">

          <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline;float: right;margin-top: 3px" class="nav-link nav-item-sign-in-up"> {{user.username}}</a>
          <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline;float: right;margin-top: -3px;" *ngIf="user?.profileImage !=null " class="round z-depth-1 hand-cursor"><img src="{{baseFile + 'fid='+user?.profileImage?.id + '?token=' + token}}" >
          </div>
          <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline;float: right;margin-top: -3px;" *ngIf="user?.profileImage ==null" class="round z-depth-1 hand-cursor"><img src="../../../assets/images/avatat.png" >
          </div>


          <div class="dropdown-menu text-xs-right">
            <a class="dropdown-item" style="font-size: 12px" [routerLink]="['/user/details']">  حساب کاربری  <i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
            <a class="dropdown-item" *ngIf="checkUserAuthority('ROLE_SELLER')" [routerLink]="['/seller/book/new']" style="font-size: 12px" >  پنل فروشنده  <i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
            <a class="dropdown-item" *ngIf="checkUserAuthority('ROLE_BROKER')" style="font-size: 12px" [routerLink]="['/broker/book/list']">  پنل واسط  <i class="fa fa-home fa-lg" aria-hidden="true"></i></a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="font-size: 12px" (click)="logOut()">  خروج  <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
          </div>
        </li>





        <!--<li class="nav-item" style="float:left">-->
          <!--<a class="nav-link" href="#">ورود <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>-->
        <!--</li>-->
      </ul>
      <!--Search form-->
      <!--<form class="form-inline" style="float: left">-->
        <!--<input class="form-control" type="text" placeholder="جست و جو">-->
      <!--</form>-->
    <!--</div>-->
    <!--/.Collabooktent-->


  </div>





</nav>







