/*@import "../../../node_modules/owl-carousel-2/assets/owl.carousel.min.css";*/
/*@import "../../../node_modules/owl-carousel-2/assets/owl.theme.default.min.css";*/
div ul li a {
  color: rgba(96, 92, 93, 0.91); }

div ul li a:hover {
  color: #00796B; }

.cat-item {
  border-right-width: 4px;
  height: 50px;
  padding-top: 13px;
  border-right-color: #3a7bd5;
  /*background-color:rgba(58,123,213,0.07) ;*/
  border-right-style: solid;
  text-align: right;
  padding-right: 10px; }

.round {
  border-radius: 50%;
  overflow: hidden;
  float: left;
  width: 50px;
  height: 50px;
  /*left: 10%;*/
  /*position: relative;*/
  /*bottom: 50px;*/ }

.round img {
  display: block;
  margin: 0px;
  padding: 0px;
  /* Stretch
        height: 100%;
        width: 100%; */
  width: 50px;
  height: 50px;
  /*background-color: #009688;*/ }

.active {
  color: #009688 !important; }

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden; }

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.nav-item-sign-in-up:hover {
  color: #ffFFff !important;
  background-color: #2E2E2E !important; }

.dropdown-item{
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}
.dropdown-toggle::after{
  display: none;
}

#btnNavList{
  display: none;
}

@media screen and (max-width : 760px){
  /*Make dropdown links appear inline*/
  li {
    display: none;
  }
  /*Create vertical spacing*/

  #btnNavList{
    display: block;
  }
  #logo{
    display: block!important;
  }
}


