<app-admin-pannel></app-admin-pannel>

<div class="container">

  <br>
  <br>
  <div class="row">
    <div class="col-md-3">
      <input [disabled] = "!categoryFilter"  (click)="openCategoryModal()" [value]="category?.title" style="margin-top: -20px;text-align: right"  type="text" class="form-control">
    </div>
    <div class="col-md-3" >

      <md-slide-toggle [color]="'primary'" (change)="categorySelection($event)">دسته بندی</md-slide-toggle>
    </div>
    <div class="col-md-3" style="z-index: 10!important;">
      <ng-select
        ngModel="0"
        [options]="bookStates"
        (selected)="changeBookState($event)">
      </ng-select>
    </div>
    <div class="col-md-3">
      <p style="float: left">نمایش کتاب های</p>
    </div>
  </div>


  <hr>
  <div   *ngFor="let book of books;let i = index">
    <app-book [forAdmin]="true" [book]="book" (onChangeState)="updateBookState($event)"></app-book>
  </div>



</div>

