<footer class="page-footer  center-on-small-only bgcolor">

  <div class="container" style="direction: rtl;height: 100%">

    <div class="container">
      <p style="text-align: center;font-size: 12px;text-justify: auto">
        بوکسام اولین سامانه اشتراک کتاب های دست دوم و نو  در ایران است که می‌کوشد با فراهم کردن محل عطفی برای فروشنده و خریدار تجربه فوق‌العاده ای را برای هر دو گروه فراهم کند.    </div>

    <br>

    <div class="row">


      <div class="col-xs-6 col-md-3" >
        <p  class="small-font">نرم افزار ها</p>
        <hr style="border-color: white!important;">

        <a href="https://cafebazaar.ir/app/ir.booksum/"  target="_blank" style="width: 100%;padding: 10px "  class="btn  btn-light-green app-item" >
          <img style="display: inline" width="20px" height="20px" src="../../assets/images/cafebazar2.png">
          <span class="footer-btn-txt"> دریافت از بازار </span>

        </a>
        <div class="row">
          <a href="" style="padding : 10px;margin-left: 4%" class="btn  btn-danger app-item col-xs-3" >
            <img style="display: inline" width="20px" height="20px" src="../../assets/images/adobe%20svg%20icon.svg">
          </a>
          <a href="" style="padding: 10px;margin-left: 4%" class="btn  btn-dark-green app-item col-xs-3" >
            <img style="display: inline" width="20px" height="20px" src="../../assets/images/internet-download-manager.png">
          </a>

          <a href="" style="padding: 10px;margin-left: 4%" class="btn  btn-lime app-item col-xs-3" >
            <img style="display: inline" width="20px" height="20px" src="../../assets/images/chrome.svg">
          </a>
        </div>
      </div>


      <div class="col-xs-0 col-md-3"  >
        <!--<p  class="small-font">آمار سایت</p>-->
        <!--<hr style="border-color: white!important;">-->
        <!--<p  [routerLink]="['/terms']" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>قوانین و مقررات</p>-->
        <!--<p  [routerLink]="['/contact-us']" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>تماس با ما</p>-->
        <!--<p  [routerLink]="['/terms']" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>درباره ما</p>-->
        <!--<p  [routerLink]="['/terms']" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>راهنما</p>-->
      </div>

      <div class="col-xs-0 col-md-3"  >
        <!--<p  class="small-font">پیوند ها</p>-->
        <!--<hr style="border-color: white!important;">-->
        <!--<a style="display: block;padding-bottom: 15px;" target="_blank" href="http://www.sanjesh.org" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>سازمان سنجش</a>-->
        <!--<a style="display: block;padding-bottom: 15px!important;" [routerLink]="['/contact-us']" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>تماس با ما</a>-->
        <!--<a style="display: block;padding-bottom: 15px!important;" [routerLink]="['/terms']" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>درباره ما</a>-->
        <!--<a style="display: block;padding-bottom: 15px!important;" [routerLink]="['/terms']" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>راهنما</a>-->
      </div>





      <div class="col-xs-6 col-md-3">
        <p  class="small-font">صفحات</p>
        <hr style="border-color: white!important;">
        <p  [routerLink]="['/terms']" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>قوانین و مقررات</p>
        <p  [routerLink]="['/contact-us']" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>تماس با ما</p>
        <p  [routerLink]="['/about-us']" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>درباره ما</p>
        <!--<p  [routerLink]="['/terms']" class="small-font hand-cursor"><i style="padding-left: 10px;padding-right: 10px" class="fa fa-arrow-left " aria-hidden="true"></i>راهنما</p>-->

      </div>
    </div>



  </div>



  <div class="bottom-row row" style="position: absolute;bottom: 0px;height: 50px;width: 100%;margin: 0px !important;">
    <!--<div class="col-sm-5"></div>-->
    <!--<div style="margin-top: 10px" class="col-sm-2">-->
    <div class="container">
      <p style="margin-top: 10px;margin-bottom:5px;float: right;direction: rtl" class="small-font">کلیه حقوق این سایت متعلق به بوکسام(booksum.ir) میباشد.(۱۳۹۶)</p>

      <div  style="margin-top: 10px;float: left">
        <!--<a href="https://twitter.com/minimalmonkey" class="icon-button  twitter"><i class="fa fa-twitter"></i><span></span></a>-->
        <a href="http://instagram.com/_u/booksum_ir" target="_blank" class="icon-button facebook" ><i class="fa fa-instagram" ></i><span></span></a>
        <a href="https://t.me/booksum_ir" target="_blank" class="icon-button telegram"><i class="fa fa-telegram"></i><span></span></a>
      </div>
    </div>
  </div>

</footer>
