<app-user-header></app-user-header>
<app-user-financial-header></app-user-financial-header>
<br>
<br>
<div class="container">
  <div class=" card  ">
    <!--<h4 class="z-depth-2" style="position: relative;top:-10px;padding-top: 20px;width: 100%;height: 70px;background-color: #009688;color: aliceblue;text-align: center;font-family: Yekan">مشخصات کاربر</h4>-->
    <div class="z-depth-2" style="width: 100%;height: 50px;padding-right: 0px;padding-left: 0px;margin-left: 0px;margin-right: 0px;background-color: #009688">
      <!--<div class="round-min z-depth-1"><img src="{{base + 'file/'+c.createdBy?.profileImage?.id}}"></div>-->
      <h5 style="color: aliceblue;text-align: right;font-family: Yekan;padding-top: 15px;padding-right: 20px" >حساب کاربر</h5>
      <!--<div style="position: absolute;left: 50px;top: 50px;" class="round-min z-depth-1 hand-cursor-shadow"><img src="../../../assets/images/avatat.png"></div>-->
    </div>
    <form class="card-block"  [formGroup]="financialForm">

      <div class="row" style="padding: 20px!important;" >
        <div class="col-sm-6" >


          <div class="row">
            <label class="custom-label"  >:تصویر کارت ملی</label>
            <img  (click)="ii.click()" style="width: 80%;margin-left: 10%;" src="../../../assets/national_card.svg" class="img-thumbnail hand-cursor-shadow" alt="Responsive image">
            <button (click)="ii.click()" style="float: right;margin-right: 50px" class="btn btn-mdb btn-sm">انتخاب عکس</button>
            <input #ii type="file" style="display: none"  multiple  /><br/>
            <!--(change)="openFileBrowser($event,FileType.Jozve)"-->
          </div>


          <br>
          <br>
          <br>
          <div class="row">
            <button style="float: left" type="button"  class="btn btn-dark-green" >ذخیره تغییرات</button>
          </div>

        </div>


        <div class="col-sm-6" style="direction: rtl!important;">

          <div class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class="prefix"></i>
              <input  style="margin-right: 50px" formControlName="national" type="text" id="form5" class="form-control">
              <label class="custom-label"  for="form5">کد ملی:</label>
            </div>
          </div>

          <div class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class="prefix"></i>
              <input  style="margin-right: 50px" formControlName="postal" type="text" id="form1" class="form-control">
              <label class="custom-label"  for="form1">کد پستی:</label>
            </div>
          </div>

          <div class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class="prefix"></i>
              <input  formControlName="shaba" style="margin-right: 50px" type="text" id="form2" class="form-control">
              <label class="custom-label" for="form2">شماره شبا:</label>
            </div>
          </div>



        </div>
      </div>


    </form>
  </div>
  <br>
  <br>
</div>
