.custom-label {
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right !important;
  left: auto; }

i {
  font-size: 20px !important; }

.round-min {
  border-style: dashed;
  border-radius: 50%;
  border-color: #009688;
  border-width: 0px;
  overflow: hidden;
  width: 100px !important;
  height: 100px !important;
  float: left; }

.round-min img {
  display: block;
  /* Stretch
        height: 100%;
        width: 100%; */
  width: 100px !important;
  height: 100px !important;
  background-color: #009688; }
