<nav class="navbar navbar-dark navbar-sticky-top  " style="background-color:#ffFFff;z-index: 999">

  <!-- Collapse button-->
  <!--<button class="navbar-toggler hidden-sm-up " type="button" data-toggle="collapse" data-target="#collapseEx">-->
    <!--<i class="fa fa-bars"></i>-->
  <!--</button>-->




  <div class="container " style="margin-top: 15px">

    <!--Collapse content-->
    <!--<div class="collapse navbar-toggleable-xs " id="collapseEx">-->
      <!--Navbar Brand-->
      <ul class="nav navbar-nav ">


        <div class="btn-group" id="btnNavList">
          <!--<button  type="button" class="btn btn-accent dropdown-toggle" style="float: left;margin-top: -10px;"-->
          <!--data-toggle="dropdown"  aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></button>-->
          <label   class=" dropdown-toggle" style="color: #53346D;font-size: 30px;float: left;margin-top: -10px;"
                   data-toggle="dropdown"  aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></label>

          <div class="dropdown-menu" style="width: 100%">
            <a class="dropdown-item" [routerLink]="['/user/details']">  مشخصات کاربر <i class="fa fa-book " aria-hidden="true"></i></a>
            <a class="dropdown-item" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')" [routerLink]="['/user/book/new']"> کتاب جدید <i class="fa fa-search " aria-hidden="true"></i></a>
            <a class="dropdown-item" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')"  [routerLink]="['/user/book/list']"> لیست کتاب ها <i class="fa fa-list-ul" aria-hidden="true"></i></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="">صفحه اصلی<i class="fa fa-home" aria-hidden="true"></i></a>

          </div>
        </div>


        <li class="nav-item "  id="logo"   style="font-family: 'Mj_FlowB';float: right;font-size: 200%;margin-top: -15px">
          <a class="nav-link header-title" style=";font-size: 32px"> حساب کاربری </a>
        </li>
        <li class="nav-item"  style="float: right;">
          <a class="nav-link nav-item-hover nav-font" [routerLink]="['/user/details']" [routerLinkActive]="['nav-item-active']" > مشخصات کاربر <i class="fa fa-user " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" style="float: right;">
          <a class="nav-link nav-item-hover nav-font" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')"  [routerLink]="['/user/book/new']" [routerLinkActive]="['nav-item-active']"> کتاب جدید <i class="fa fa-book " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>




        <li class="nav-item" style="float: right;">
          <a class="nav-link nav-item-hover nav-font" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')"  [routerLink]="['/user/book/list']" [routerLinkActive]="['nav-item-active']"> لیست کتاب ها <i class="fa fa-list-ul " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>

        <!--<li class="nav-item"  style="float: right;">-->
          <!--<a class="nav-link nav-item-hover nav-font" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')" [routerLink]="['/user/buyContents']"  [routerLinkActive]="['nav-item-active']"> محتوای خریداری شده <i class="fa fa-download " aria-hidden="true"></i><span class="sr-only">(current)</span></a>-->
        <!--</li>-->

        <!--<li class="nav-item"   style="float: right;">-->
          <!--<a class="nav-link nav-item-hover nav-font" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')" [routerLink]="['/user/myContents']" [routerLinkActive]="['nav-item-active']"> محتوای من <i class="fa fa-upload " aria-hidden="true"></i><span class="sr-only">(current)</span></a>-->
        <!--</li>-->

        <!--<li class="nav-item" style="float: right;">-->
          <!--<a class="nav-link nav-item-hover nav-font" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')" [routerLink]="['/user/financial/account']" [routerLinkActive]="['nav-item-active']"> امورمالی و فروش <i class="fa fa-money " aria-hidden="true"></i><span class="sr-only">(current)</span></a>-->
        <!--</li>-->


        <li class="nav-item" routerLink=""  >
          <a class="nav-link"> <i class="fa fa-home nav-item-hover" aria-hidden="true"></i>  صفحه اصلی</a>
        </li>

      </ul>
      <!--Search form-->
      <!--<form class="form-inline" style="float: left">-->
      <!--<input class="form-control" type="text" placeholder="جست و جو">-->
      <!--</form>-->
    <!--</div>-->
    <!--/.Collapse content-->
  </div>
</nav>
<!--<br>-->
<!--<br>-->
<!--<br>-->







