div ul li a {
  color: rgba(96, 92, 93, 0.91); }

div ul li a:hover {
  color: #00796B; }

.cat-item {
  border-right-width: 4px;
  height: 50px;
  padding-top: 13px;
  border-right-color: #3a7bd5;
  /*background-color:rgba(58,123,213,0.07) ;*/
  border-right-style: solid;
  text-align: right;
  padding-right: 10px; }

.round {
  border-style: solid;
  border-radius: 50%;
  border-color: #252f41;
  border-width: 2px;
  overflow: hidden;
  float: left;
  width: 50px;
  height: 50px;
  /*left: 10%;*/
  /*position: relative;*/
  /*bottom: 50px;*/ }

.round img {
  display: block;
  margin: 0px;
  padding: 0px;
  /* Stretch
        height: 100%;
        width: 100%; */
  width: 46px;
  height: 46px;
  background-color: #009688; }

.nav-font {
  font-size: 14px; }

.seller-header {
  color: #4d2e7f !important;
  font-size: 32px; }
