.header-bg {
  /*background: #000000;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to bottom, #53346D, #000000);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to bottom, #53346D, #000000); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/ }

.bg {
  background-image: url("../../../assets/images/bg-details.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; }

/*.header-bg{*/
/*background-color: #00796B;*/
/*}*/
p {
  font-size: 10px !important;
  color: #53346D !important; }
.samples-banner{
  //display: inline;
  text-align: right;
  padding-top: 18px;
  padding-right: 20px;
  position: absolute!important;
  right: 0px!important;
  background-image: url("../../../assets/images/green-banner.png");
  color: white!important;
  height: 50px;
  width: 200px;
  font-size: 16px!important;

}
.otherbooks-banner{
  //display: inline;
  text-align: right;
  padding-top: 18px;
  padding-right: 20px;
  position: absolute!important;
  right: 0px!important;
  background-image: url("../../../assets/images/red-banner.png");
  color: white!important;
  height: 50px;
  width: 220px;
  font-size: 16px!important;

}
.samples-bg
{
  background-color: #ffFFff;

  //background-image: url("../../../assets/images/text2.jpg");
}
.otherbooks-bg
{
  //background-image: url("../../../assets/images/text1.jpg");
  background-color: #ffFFff;
}

h6 {
  font-size: 12px !important;
  color: #53346D !important; }

h5 {
  font-size: 14px !important; }

.font-image {
  width: 20px;
  height: 20px; }

.round {
  border-style: solid;
  border-radius: 50%;
  border-width: 0px;
  overflow: hidden;
  float: left;
  width: 70%;
  /*height: auto;*/
  margin-left: 15%; }

.round img {
  display: block;
  /* Stretch
        height: 100%;
        width: 100%; */
  min-width: 100%;
  min-height: 100%;
  background-color: #009688; }

.round-min {
  border-style: dashed;
  border-radius: 50%;
  border-color: #009688;
  border-width: 0px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  float: left; }

.round-min img {
  display: block;
  /* Stretch
        height: 100%;
        width: 100%; */
  min-width: 100%;
  min-height: 100%;
  background-color: #009688; }

fieldset, label {
  margin: 0;
  padding: 0; }

body {
  margin: 20px; }

h1 {
  font-size: 1.5em;
  margin: 10px; }

.md-chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px; }

.md-chip-hover:hover {
  background: #ccc; }

.md-chip-clickable {
  cursor: pointer; }

.md-chip, .md-chip-icon {
  height: 32px;
  line-height: 32px; }

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px; }

.example-margin {
  margin: 0 10px; }

.card {
  border-radius: 3px; }

.img-thumbnail:hover {
  background-color: #4d2e7f; }

agm-map {
  height: 200px; }

h6 {
  color: #3b4c56 !important; }

.corner-ribbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 30px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

/* Custom styles */
.corner-ribbon.sticky {
  position: fixed; }

.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

/* Different positions */
.corner-ribbon.top-left {
  top: 25px;
  left: -60px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.primary-chips {
  background-color: #4d2e7f;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color: #ffFFff; }

.green-chips {
  background-color: #00C851;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color: #ffFFff; }

.accent-chips {
  background-color: #3fb3ec;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color: #ffFFff; }

.red-chips {
  background-color: #D50000;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color: #ffFFff; }


@media screen and (max-width : 630px){
  /*Make dropdown links appear inline*/
  #cover-image{
    display: none;
  }
}


