
<app-header></app-header>
<div class="bg">
<br>
<br>
<br>
<br>

  <div class="container" style="margin-top: -50px">

    <div class="row">
      <div class="col-lg-3">

        <div class="card wow fadeInUp" style="margin-top: 0px">

          <div class="card-block" >

            <!--<div *ngIf="booklet?.createdBy?.profileImage?.id !=null " class="round z-depth-2"><img src="{{base + 'file/'+booklet?.createdBy?.profileImage?.id}}" >-->
            <!--</div>-->
            <!--<div *ngIf="booklet?.createdBy?.profileImage?.id ==null " class="round z-depth-2"><img src="../../../assets/images/avatat.png" >-->
            <!--</div>-->
            <p style="text-align: center;font-size: 16px!important;">تماس با فروشنده</p>
            <!--<button type="button" #phoneButton (click)="showPhoneNumber(phoneButton)" class="btn btn-outline-info" style="width: 100%;margin: 0px !important;margin-top: 20px!important">{{showPhone ? callInfo?.phone:callInfo?.phone?.substring(0,5)+'XXXXX'}}<i class="fa fa-phone fa-lg" style="padding: 5px" aria-hidden="true"></i></button>-->
            <!--<button type="button" #phoneButton class="btn btn-outline-default" style="width: 100%;margin: 0px !important;margin-top: 20px!important">پست الکترونیکی<i class="fa fa-envelope-o fa-lg" style="padding: 5px" aria-hidden="true"></i></button>-->
            <!--<button type="button" #phoneButton class="btn btn-outline-secondary" style="width: 100%;margin: 0px !important;margin-top: 20px!important">اطلاعات فروشگاه<i class="fa fa-building-o fa-lg" style="padding: 5px" aria-hidden="true"></i></button>-->
            <!--<button type="button" #phoneButton class="btn btn-outline-primary" style="width: 100%;margin: 0px !important;margin-top: 20px!important">مکان های رزرو<i class="fa fa-map-marker fa-lg" style="padding: 5px" aria-hidden="true"></i></button>-->

            <div  *ngIf="book?.phone!=null && !belongToShop" (click)="onShowPhone()" class="btn-group" style=";display: flex;width: 100%;margin-top: 20px" >
              <button  style="width: 80%;" type="button" class="btn btn-info" aria-hidden="true">{{showPhone ? book?.phone:book?.phone?.substring(0,5)+'XXXXX'}}</button>
              <button style="width: 80px;" type="button" class="btn btn-info" style="padding-left: 10px;padding-right: 10px;width: 20%"  aria-hidden="true" aria-expanded="false">
                <i class="fa fa-phone "  aria-hidden="true"></i>
              </button>
              <textarea style="opacity: 0;width: 0px;padding: 0px;margin: 0px" id="phoneText">{{book?.phone}}</textarea>
            </div>

            <div *ngIf="book?.email!=null && !belongToShop" (click)="onShowEmail()"   class="btn-group" style=";display: flex;width: 100%;margin-top: 20px" >
              <button  style="width: 80%;" type="button" class="btn btn-primary" aria-hidden="true">{{showEmail ? book?.email:book?.email?.substring(0,5)+'XXXXX'}}</button>
              <button  type="button" class="btn btn-primary" style="padding-left: 10px;padding-right: 10px;width: 20%"  aria-hidden="true" aria-expanded="false">
                <i class="fa fa-envelope-o "  aria-hidden="true"></i>
              </button>
              <textarea style="opacity: 0;width: 0px;padding: 0px;margin: 0px" id="emailText">{{book?.email}}</textarea>
            </div>

            <div *ngIf="book?.messengerId!=null && !belongToShop" (click)="onShowMessenger()" class="btn-group" style=";display: flex;width: 100%;margin-top: 20px" >
              <button style="width: 80%;" type="button" class="btn btn-mdb" aria-hidden="true">{{showMessenger ? book?.messengerId:book?.messengerId?.substring(0,5)+'XXXXX'}}</button>
              <button  type="button" class="btn btn-mdb" style="padding-left: 10px;padding-right: 10px;width: 20%"  aria-hidden="true" aria-expanded="false">
                <i class="fa fa-telegram "  aria-hidden="true"></i>
              </button>
              <textarea style="opacity: 0;width: 0px;padding: 0px;margin: 0px" id="messengerText">{{book?.messengerId}}</textarea>
            </div>

            <div *ngIf="book?.stores.length!=0"  (click)="openStores()" class="btn-group" style=";display: flex;width: 100%;margin-top: 20px" >
              <button style="width: 80%;" type="button" class="btn btn-secondary" aria-hidden="true">اطلاعات فروشگاه</button>
              <button  type="button" class="btn btn-secondary" style="padding-left: 10px;padding-right: 10px;width: 20%"  aria-hidden="true" aria-expanded="false">
                <i class="fa fa-building-o "  aria-hidden="true"></i>
              </button>
            </div>

            <div  *ngIf="book?.bookPlaces.length!=0" (click)="openBookPlaces()" class="btn-group" style="width: 100%;margin-top: 20px;display: flex" >
              <button style="width: 80%;" type="button" class="btn btn-mdb" aria-hidden="true">مکان های رزرو</button>
              <button  type="button" class="btn btn-mdb" style="padding-left: 10px;padding-right: 10px;width: 20%"  aria-hidden="true" aria-expanded="false">
                <i class="fa fa-map-marker "  aria-hidden="true"></i>
              </button>
            </div>
            <!--<button type="button" class="btn btn-success" style="width: 100%;margin: 0px !important;margin-top: 20px!important">مشاهده جزوات کاربر</button>-->
          </div>
        </div>

        <!--<div class="card wow fadeInUp" style="margin-top: 20px;direction: rtl">-->
          <!--<p style="text-align: center;font-size: 16px!important;padding-top: 15px">برچسب ها</p>-->
          <!--<div class="card-block" >-->
            <!--<label *ngFor="let tag of book.tags" class="md-chip md-chip-clickable" (click)="bookByTag(tag)" style="margin-top: 3px">-->
              <!--{{tag.tagString}}-->
            <!--</label>-->


          <!--</div>-->
        <!--</div>-->

        <!--<div *ngIf="book?.infoType ==InfoType.Personal" class="card wow fadeInUp" style="margin-top: 20px">-->

          <!--<div class="card-block" >-->

            <!--<div *ngIf="book?.createdBy?.profileImage?.id !=null " class="round z-depth-2"><img src="{{baseFile + 'fid='+book?.createdBy?.profileImage?.id}}" >-->
            <!--</div>-->
            <!--<div *ngIf="book?.createdBy?.profileImage?.id ==null " class="round z-depth-2"><img src="../../../assets/images/avatat.png" >-->
            <!--</div>-->

            <!--<h6 *ngIf="book?.createdBy?.firstName!=null" style="display: inline;float: right;margin-left: 10px;margin-top: 20px;">{{booklet?.createdBy.firstName}}</h6>-->
            <!--<h6 *ngIf="book?.createdBy?.lastName!=null" style="display: inline;float: right;margin-top: 20px;">{{booklet?.createdBy.lastName}}</h6>-->
            <!--<button type="button" class="btn btn-success" style="width: 100%;margin: 0px !important;margin-top: 20px!important">مشاهده جزوات کاربر</button>-->
          <!--</div>-->
        <!--</div>-->



      </div>

      <div class="col-lg-9" >


        <div>

          <div class="card wow fadeInUp" >

            <div class="card-block">

              <div class="row" >

                <div class="col-sm-9" style="padding: 10px 30px 10px 30px" >
                  <div *ngIf="book?.title!=null" class="row" style="direction: rtl">
                    <label>نام کتاب:</label>
                    <label style="font-size: 16px">{{book?.title}}</label>
                  </div>
                  <div *ngIf="book?.category!=null" class="row" style="direction: rtl;margin-top: 10px;">
                    <label style="font-size: 10px"> دسته بندی:</label>
                    <a routerLink="/book/cat/{{book?.category?.id}}" style="font-size: 13px">{{book?.category?.parent?.title}} / {{book?.category?.title}}</a>
                  </div>
                  <div *ngIf="book?.author!=null" class="row" style="direction: rtl;margin-top: 10px;">
                    <label style="font-size: 10px"> نویسنده:</label>
                    <label style="font-size: 13px">{{book?.author}}</label>
                  </div>
                  <div *ngIf="book?.translator!=null" class="row" style="direction: rtl;margin-top: 10px;">
                    <label style="font-size: 10px"> مترجم:</label>
                    <label style="font-size: 13px">{{book?.translator}}</label>
                  </div>
                  <div *ngIf="book?.publisher!=null" class="row" style="direction: rtl;margin-top: 10px;">
                    <label style="font-size: 10px"> انتشارات:</label>
                    <label style="font-size: 13px">{{book?.publisher}}</label>
                  </div>
                  <div *ngIf="book?.publishYear!=null"  class="row" style="direction: rtl;margin-top: 10px;">
                    <label style="font-size: 10px"> سال انتشار:</label>
                    <label style="font-size: 13px">{{book?.publishYear|persainNumberPipe}}</label>
                  </div>
                  <div *ngIf="book?.bookPrice!=null" class="row" style="direction: rtl;margin-top: 10px;">
                    <label style="font-size: 10px"> قیمت جلد:</label>
                    <label style="font-size: 13px">{{book?.bookPrice|persainNumberPipe}} تومان</label>
                  </div>
                  <div class="row " style="direction: rtl;margin-top: 10px">
                    <label *ngIf="book?.sellPrice!=null" class="primary-chips" style="font-size: 10px;margin-top: 5px"> {{((book?.bookPrice-book?.sellPrice) / book?.bookPrice*100)| number : '1.0-0' |persainNumberPipe}}% زیرقیمت</label>
                    <label *ngIf="book?.bookState!=null" class="green-chips" style="font-size: 10px;margin-top: 5px"> {{bookStates[BookState[book?.bookState]]}}</label>
                    <label *ngIf="book?.city!=null" class="red-chips" style="font-size: 10px;margin-top: 5px"> {{book?.city?.title}}</label>
                    <label style="float: left;margin-top: 5px" class="accent-chips">قیمت فروش:{{book?.sellPrice|persainNumberPipe}} تومان</label>

                  </div>
                </div>
                <div class="col-sm-3">
                  <img id="cover-image" style="position: relative;width: 100% ;height: 250px;right: -50px" [src]="baseFile + 'fid=' + book?.coverImage?.id" class="img-fluid  hand-cursor z-depth-1-half" alt="">
                </div>
              </div>

            </div>

          </div>

          <div *ngIf="book?.description!=null" class="card wow fadeInUp" style="margin-top: 20px;direction: rtl">
            <!--<p  style="border-bottom: solid #00C851 2px;padding: 15px;font-size: 16px!important;">توضیحات</p>-->
            <p style="text-align: center;font-size: 16px!important;padding-top: 15px">توضیحات</p>
            <!--<h5 class="z-depth-1-half" style="border-top-left-radius: 5px;border-top-right-radius: 5px;position: relative;padding-top: 15px; ;width: 100%;height: 50px;background-color: #00c851;color: aliceblue;text-align: center;font-family: Yekan">توضیحات</h5>-->
            <div class="card-block">
              <p style="font-size: 16px;text-justify: auto;line-height: 20px">{{book?.description}}</p>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="container-fluid samples-bg wow fadeInRight" >
    <label class="samples-banner">نمونه ها</label>
    <div class="container" style="padding-top: 15px">
      <div *ngIf="images.length!=0" class="wow fadeInUp" style="margin-top: 20px;direction: rtl">
        <!--<div class="card-header">نمونه ها</div>-->

        <div class="card-block">
          <br>
          <div class="col-md-3 " style="float: right" *ngFor="let image of images; let i = index" (click)="gallery.set(i)">
              <img [src]="image.src" class="img-fluid img-thumbnail hand-cursor" alt="">

          </div>
          <p *ngIf="images.length==0">نمونه ای وجود ندارد</p>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="otherUserBooks.length>0" class="container-fluid otherbooks-bg fadeInRight" >
    <label class="otherbooks-banner">کتاب های فروشنده</label>
    <div class="container" >
      <div style="padding-top: 80px">
        <div *ngFor="let book of otherUserBooks">
          <app-book [book]="book"></app-book>
        </div>
        <p  id="more">_</p>
      </div>
    </div>
  </div>

  <!--<div class="container-fluid" style="background-color: #ffFFff">-->
    <!--<div class="container" >-->
      <!--<div class="" style="padding: 10px" *ngFor="let store of book.stores">-->
        <!--<div class="card-block ">-->
          <!--<div class="col-sm-4">-->
            <!--<agm-map [latitude]="store.latitude" [longitude]="store.longitude" [zoom]="zoom">-->
              <!--<agm-marker [latitude]="store.latitude" [longitude]="store.longitude"></agm-marker>-->
            <!--</agm-map>-->
          <!--</div>-->
          <!--<div class="col-sm-5">-->
            <!--<h6 style="margin-bottom:10px;;text-align: right">{{store.title}}</h6>-->
            <!--<p *ngIf="store.address!=null" class="prop-item" ><i class="material-icons md-18 md-dark">location_on</i> {{store.address}} </p>-->
            <!--<p *ngIf="store.phoneNumber!=''" class="prop-item" ><i class="material-icons md-18 md-dark">local_phone</i> {{store.phoneNumber}} </p>-->
            <!--<p *ngIf="store.mobileNumber!=''" class="prop-item" ><i class="material-icons md-18 md-dark">smartphone</i> {{store.mobileNumber}} </p>-->
            <!--<p *ngIf="store.university!=null" class="prop-item" ><i class="material-icons md-18 md-dark">domain</i> {{store.university.title}} </p>-->
            <!--<p *ngIf="store.description!=''" style="margin-bottom: 0px;direction: rtl;padding: 0px;display: block;text-align: right;font-size: 12px"><i class="material-icons md-18 md-dark">edit</i> {{store.description}} </p>-->
          <!--</div>-->
          <!--<div class="col-sm-3">-->
            <!--<img *ngIf="store?.coverImage!=null" style="width: 100%;height: 200px" [src]="baseFile + 'fid=' + store.coverImage.id">-->
            <!--<img *ngIf="store?.coverImage==null" style="width: 100%;height: 200px" src="../../../assets/images/store.svg">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->


  <!--</div>-->
</div>

<gallery-modal></gallery-modal>
