.custom-label {
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right !important;
  left: auto; }

i {
  font-size: 20px !important; }

.contact-form-header {
  position: relative;
  top: -10px;
  padding-top: 20px;
  width: 100%;
  height: 70px;
  background-color: #4d2e7f;
  color: aliceblue;
  text-align: center;
  font-family: Yekan; }
