.custom-label {
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right !important;
  left: auto; }

i {
  font-size: 20px !important; }

.round-min {
  border-radius: 50%;
  overflow: hidden;
  width: 100px !important;
  height: 100px !important;
  float: left; }

.round-min img {
  display: block;
  /* Stretch
        height: 100%;
        width: 100%; */
  width: 100px !important;
  height: 100px !important;
  background-color: #009688; }

.card {
  border-radius: 4px; }

.input-message {
  margin-right: 50px;
  font-size: 10px; }

.user-details-header {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
  height: 100px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #4d2e7f; }
