<app-user-header></app-user-header>
<br>
<br>
<div class="container">
    <div class=" card wow fadeInUp">
      <!--<h4 class="z-depth-2" style="position: relative;top:-10px;padding-top: 20px;width: 100%;height: 70px;background-color: #009688;color: aliceblue;text-align: center;font-family: Yekan">مشخصات کاربر</h4>-->
     <div class="user-details-header" style="">
       <!--<div class="round-min z-depth-1"><img src="{{base + 'file/'+c.createdBy?.profileImage?.id}}"></div>-->
       <h5 style="color: aliceblue;text-align: right;font-family: Yekan;padding-top: 35px;padding-right: 20px">مشخصات کاربر</h5>
       <div (click)="avatar.click()" style="position: absolute;left: 50px;top: 50px;" class="round-min z-depth-1 hand-cursor-shadow">
         <img *ngIf="user?.profileImage == null" src="../../../assets/images/avatat.png">
         <img *ngIf="user?.profileImage != null" [src]="base + 'file/' + user?.profileImage?.id + '?token=' + token">
         <div [style.height]="avatarUploadPercent+'%'" style="position: absolute;left: 0px;top: 0px;width: 100%;background-color: #00C851"></div>
       </div>
       <input #avatar type="file" (change)="openFileBrowser($event)" style="display: none"  multiple  /><br/>
     </div>
      <form class="card-block"  [formGroup]="userDetails">

        <div class="row" style="padding: 20px!important;" >
          <div class="col-sm-6" style="direction: rtl!important;padding: 0px 30px 0px 30px">
            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="prefix"></i>
                <input  style="margin-right: 50px" formControlName="firstname" type="text" id="form1" class="form-control">
                <label class="custom-label"  for="form1">نام:</label>
              </div>
            </div>

            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="prefix"></i>
                <input  formControlName="lastname" style="margin-right: 50px" type="text" id="form2" class="form-control">
                <label class="custom-label" for="form2">نام خانوادگی:</label>
              </div>
            </div>

            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="fa fa-phone fa-lg prefix"></i>
                <input formControlName="phone" style="margin-right: 50px" type="text" id="form5" class="form-control validate test">
                <label class="custom-label"  for="form5">شماره تلفن:</label>
                <p style="margin-top: -10px;margin-right: 50px;font-size: 9px" class="red-text" *ngIf="!userDetails.controls['phone'].valid">معتبر نیست</p>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px;" class="fa fa-university fa-lg prefix"></i>
                <div style="margin-right: 40px;" *ngIf="universities.length > 0">
                  <ng-select
                    #univSelect
                    [options]="universities"
                    (selected)="selectUniversity($event)"
                  >

                  </ng-select>
                </div>
                <label style="transform: translateY(-200%)!important;" class="custom-label"   >دانشگاه:</label>
              </div>
            </div>

            <br>

            <div class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class=" prefix"></i>
              <div style="margin-right: 40px;" *ngIf="provinces.length > 0">
                <ng-select
                  [options]="provinces"
                  (selected)="selectProvince($event)">
                </ng-select>
              </div>
              <label style="transform: translateY(-180%)!important;" class="custom-label"   >استان:</label>
            </div>
            </div>

            <br>

              <div class="row">
            <div class="md-form" *ngIf="cities.length > 0">
              <i style="margin-top: 10px" class=" prefix"></i>
              <div style="margin-right: 40px;" *ngIf="cities.length > 0">
                <ng-select
                  [options]="cities"
                  (selected)="selectCity($event)">
                </ng-select>
              </div>
              <label style="transform: translateY(-180%)!important;" class="custom-label"   >شهر:</label>
            </div>
            </div>



            <div class="row">
              <button style="float: left" (click)="saveUserDetails()" type="button"  class="btn btn-dark-green" >ذخیره تغییرات</button>
              <button (click)="avatar.click()" style="float: left" type="button"  class="btn btn-accent" >تغییر عکس آواتار</button>
            </div>

          </div>


          <div class="col-sm-6" style="direction: rtl!important;padding: 0px 30px 0px 30px">
            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="fa fa-user fa-lg prefix"></i>
                <input formControlName="username" style="margin-right: 50px" type="text" id="form3" class="form-control">
                <label class="custom-label"  for="form3">نام کاربری:</label>
              </div>
            </div>
            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="fa fa-envelope-o fa-lg prefix"></i>
                <input formControlName="email" style="margin-right: 50px" type="text" id="form4" class="form-control">
                <label class="custom-label"  for="form4">پست الکترونیک:</label>
                <p class="red-text input-message" *ngIf="!userDetails.controls['email'].valid">ایمیل معتبر نیست</p>
              </div>
            </div>

            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="fa fa-lock fa-lg prefix"></i>
                <input formControlName="pass" style="margin-right: 50px" type="text" id="form6" class="form-control">
                <label class="custom-label"  for="form6">رمز عبور:</label>
              </div>
            </div>

            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="prefix"></i>
                <input formControlName="passrep" style="margin-right: 50px" type="text" id="form7" class="form-control">
                <label class="custom-label"  for="form7">تکرار رمز عبور:</label>
                <p class="red-text input-message" *ngIf="!userDetails.controls['passrep'].valid">تکرار رمز درست نیست</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="fa fa-pencil-square-o fa prefix"></i>
                <textarea  formControlName="biography" style=";margin-right: 50px;height: 100px;" type="text" id="form9" class="form-control"></textarea>
                <label class="custom-label" style="transform: translateY(-190%);"  for="form9">بیوگرافی:</label>
              </div>
            </div>


          </div>

        </div>


      </form>
    </div>
  <br>
  <br>
</div>
