<app-header></app-header>
<br>
<br>
<br>
<div class="container">
  <div class="text-xs-center">
    <h2 class="ui icon header">
      <div class="content">
        <h6>درباره ما</h6>
        <small class="sub header">درباره این سرویس </small>
      </div>
    </h2>
  </div>
  <br>
  <section>
    <div dir="rtl">
      <p class="text-xs-right">بوکسام
        در تابستان 95 کلید خورد و پس از رو به رو شدن با چالش های مختلف نظیر فراهم کردن دیتابیس ابتدایی کتاب ها و عقد قرارداد با فروشگاه های کتاب سرانجام به طور رسمی کار خودرا در مهر ماه 1396 آغاز کرد.  بوکسام اولین سامانه اشتراک کتاب های دست دوم و نو  در ایران است که می‌کوشد با فراهم کردن محل عطفی برای فروشنده و خریدار تجربه فوق‌العاده ای را برای هر دو گروه فراهم کند.</p>
    </div>
  </section>
  <br>

  <div class="text-xs-center">
    <h2 class="ui icon header">
      <div class="content">
        <small class="sub header">آشنایی با تیم </small>
      </div>
    </h2>
  </div>
  <br>
  <br>
  <div class="container " style="direction: rtl!important;">
    <div class="col-md-2 col-lg-3"></div>
    <div class="col-md-3 col-lg-2 hand-cursor-shadow">

      <div   class="round z-depth-1 hand-cursor"><img src="../../assets/images/avatat1.png" >
      </div>
      <br>
      <p style="text-align: center;font-size: 13px ;color: #0C6990">رسول سامانی</p>
      <p style="text-align: center;font-size: 11px ">Co-Founder</p>
      <p style="text-align: center;font-size: 11px ">Product Manager</p>
      <div style="text-align: center">
        <a><i style="padding-left: 5px;padding-right: 5px" class="fa fa-linkedin " aria-hidden="true"></i></a>
        <a><i style="padding-left: 5px;padding-right: 5px" class="fa fa-facebook " aria-hidden="true"></i></a>
        <a><i style="padding-left: 5px;padding-right: 5px" class="fa fa-envelope " aria-hidden="true"></i></a>
        <a><i style="padding-left: 5px;padding-right: 5px" class="fa fa-twitter " aria-hidden="true"></i></a>
      </div>


    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 col-lg-2 hand-cursor-shadow">

      <div   class="round z-depth-1 hand-cursor"><img src="../../assets/images/avatat1.png" >
      </div>
      <br>
      <p style="text-align: center;font-size: 13px ;color: #0C6990">ایمان صابری</p>
      <p style="text-align: center;font-size: 11px ">Co-Founder</p>
      <p style="text-align: center;font-size: 11px ">Product Designer</p>
      <div style="text-align: center">
        <a><i style="padding-left: 5px;padding-right: 5px" class="fa fa-linkedin " aria-hidden="true"></i></a>
        <a><i style="padding-left: 5px;padding-right: 5px" class="fa fa-facebook " aria-hidden="true"></i></a>
        <a><i style="padding-left: 5px;padding-right: 5px" class="fa fa-envelope " aria-hidden="true"></i></a>
        <a><i style="padding-left: 5px;padding-right: 5px" class="fa fa-twitter " aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-md-2 col-lg-3"></div>

  </div>
  <br>
  <br>
  <br>
</div>
