.custom-label {
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right !important;
  left: auto; }

i {
  font-size: 20px !important; }

.example-margin {
  margin: 0 10px; }

.card {
  border-radius: 5px; }

agm-map {
  height: 300px; }
