<app-admin-header *ngIf="modificationType==ModificationType.New"></app-admin-header>
<app-seller-header *ngIf="modificationType==ModificationType.Edit"></app-seller-header>
<br>

<div class="container">

  <div class="card  wow fadeInUp">
    <h5 class="z-depth-1-half" style="border-top-left-radius: 5px;border-top-right-radius: 5px;position: relative;padding-top: 15px; ;width: 100%;height: 50px;background-color: #00C851;color: aliceblue;text-align: center;font-family: Yekan">مشخصات</h5>
    <form class="card-block" [formGroup]="storeForm">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6" style="direction: rtl!important;">
            <div *ngIf="modificationType==ModificationType.New" class="md-form">
              <i style="margin-top: 10px" class="fa fa-info fa-lg prefix"></i>
              <div style="margin-right: 40px;">
                <ng-select
                  [options]="storeStates"
                  (selected)="selectStoreState($event)"
                >
                </ng-select>
              </div>
              <label style="transform: translateY(-180%)!important;" class="custom-label"   ><span class="require">*</span>وضعیت :</label>
            </div>

            <br>


            <!--<div class="md-form">-->
              <!--<i style="margin-top: 10px" class="prefix"></i>-->
              <!--<div style="margin-right: 40px;" *ngIf="universities.length > 0">-->
                <!--<ng-select-->
                  <!--[options]="universities"-->
                  <!--(selected)="selectUniversity($event)">-->
                <!--</ng-select>-->
              <!--</div>-->
              <!--<label style="transform: translateY(-180%)!important;" class="custom-label"   >دانشگاه:</label>-->
            <!--</div>-->



            <!--<div class="md-form">-->
              <!--<i style="margin-top: 10px" class=" prefix"></i>-->
              <!--<div style="margin-right: 40px;" *ngIf="provinces.length > 0">-->
                <!--<ng-select-->
                  <!--[options]="provinces"-->
                  <!--(selected)="selectProvince($event)">-->
                <!--</ng-select>-->
              <!--</div>-->
              <!--<label style="transform: translateY(-180%)!important;" class="custom-label"   >استان:</label>-->
            <!--</div>-->

            <!--<br>-->

            <!--<div class="md-form" *ngIf="cities.length > 0">-->
              <!--<i style="margin-top: 10px" class=" prefix"></i>-->
              <!--<div style="margin-right: 40px;" *ngIf="cities.length > 0">-->
                <!--<ng-select-->
                  <!--[options]="cities"-->
                  <!--(selected)="selectCity($event)">-->
                <!--</ng-select>-->
              <!--</div>-->
              <!--<label style="transform: translateY(-180%)!important;" class="custom-label"   >شهر:</label>-->
            <!--</div>-->


            <div *ngIf="modificationType==ModificationType.New"  class="md-form">
              <i style="margin-top: 10px" class="fa fa-user-o fa-lg prefix"></i>
              <input formControlName="username" style="margin-right: 50px" type="text" id="form11" data-toggle="dropdown" class="form-control">
              <label class="custom-label"  for="form11"><span class="require">*</span>انتخاب مالک:</label>

              <div *ngIf="suggestedUsers?.length > 0"  class="dropdown-menu  dropdown-menu-right" style="height: 300px;overflow: scroll;direction: ltr">
                <div *ngFor="let u of suggestedUsers" (click)="selectUser(u)">
                  <a  class="dropdown-item">
                    <p style="text-align: right">{{u.username}}</p>
                    <div class="row">
                      <div class="col-sm-9">

                        <p style="text-align: right;font-size: 12px">{{u.email}}</p>
                        <p style="text-align: right;font-size: 12px">{{u.lastName}} {{u.firstName}}</p>
                      </div>
                      <div class="col-sm-3 ">
                        <div class="round">
                          <img *ngIf="u.profileImage!=null"  [src]="baseFile + 'fid=' + u?.profileImage?.id">
                          <img *ngIf="u.profileImage==null"  src="../../../assets/images/avatat.png">
                        </div>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                </div>
              </div>
            </div>
            <br>
            <label style="color: #757575" class="custom-label">موقعیت فروشگاه:</label>
            <div style="clear: both;padding: 0px 40px 20px 0px">
              <agm-map
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                (mapClick)="mapClicked($event)">

                <agm-marker
                  [latitude]="marker.lat"
                  [longitude]="marker.lng"
                  [label]="marker.label"
                  [markerDraggable]="marker.draggable"
                >
                </agm-marker>


              </agm-map>
            </div>



          </div>

          <div class="col-sm-6" style="direction: rtl!important;">
            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="fa fa-building-o fa-lg prefix"></i>
                <input formControlName="title" style="margin-right: 50px" type="text" id="form13" class="form-control">
                <label class="custom-label" for="form13">عنوان:</label>
              </div>
            </div>
            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="fa fa-map-marker fa-lg prefix"></i>
                <input formControlName="address" style="margin-right: 50px" type="text" id="form14" class="form-control">
                <label class="custom-label"  for="form14">آدرس:</label>
              </div>
            </div>

            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="fa fa-phone fa-lg prefix"></i>
                <input formControlName="phone" style="margin-right: 50px" type="text" id="form1" class="form-control">
                <label class="custom-label"  for="form1">شماره ثابت:</label>
              </div>
            </div>


            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="fa fa-mobile-phone fa-lg prefix"></i>
                <input formControlName="mobile" style="margin-right: 50px" type="text" id="form1" class="form-control">
                <label class="custom-label"  for="form1">شماره همراه:</label>
              </div>
            </div>


            <br>
            <div class="row">
              <div class="md-form">
                <i style="margin-top: 10px" class="fa fa-pencil-square-o fa prefix"></i>
                <textarea   formControlName="description" style=";margin-right: 50px;height: 100px;padding: 10px" type="text" id="form9" class="form-control"></textarea>
                <label class="custom-label" style="transform: translateY(-170%);"  for="form9">توضیحات:</label>
              </div>
            </div>

          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-sm-10">
            <div class= "md-form wow fadeIn " *ngIf="coverImage!=null">
              <p style="text-align: right;"> کاور کتاب</p>
              <label >{{coverImage.name}} - {{coverImage.size|fileSize}}</label>
              <!--<label style="float: right">: توضیح</label>-->
              <!--<input style="float: right;width: 40%;margin-bottom: 10px;text-align: right" type="text">-->
              <p *ngIf="coverImageProgresses?.complete" style="float: right;text-align: right!important;font-size: 10px">اتمام بارگزاری</p>
              <p *ngIf="!coverImageProgresses?.complete&&coverImageProgresses?.progress>0" style="float: right;text-align: right;font-size: 10px">در حال بارگزاری</p>
              <md-progress-bar
                class="example-margin"
                [color] = "'warn'"
                [mode]="'determinate'"
                [value]="coverImageProgresses.progress"
                [bufferValue]="bufferValue">
              </md-progress-bar>
              <button [disabled]="coverImageProgresses?.progress>0" (click)="uploadFile(coverImage,i,true)"  style="float: right" class="btn btn-dark-green btn-sm">بارگزاری</button>
              <button [disabled]="coverImageProgresses?.progress>0" (click)="coverImage = null" style="float: right" class="btn btn-danger btn-sm">حذف</button>
              <br>
              <br>
            </div>
          </div>
          <div class="col-sm-2">
            <button (click)="cover.click()" style="float: right" class="btn btn-mdb btn-sm">انتخاب عکس کاور</button>
            <input #cover type="file" style="display: none" (change)="openFileBrowser($event)" />
          </div>

        </div>
        <button (click)="saveStore()" style="float: left" class="btn btn-dark-green btn-sm">ذخیره</button>

      </div>
    </form>
  </div>
  <br>
</div>
