.nav-tabs {
  border: 0;
  padding: .7rem;
  /*margin-left: 1rem;*/
  /*margin-right: 1rem;*/
  /*margin-bottom: -50px;*/
  z-index: 1002;
  position: relative;
  /*top: -20px;*/ }

.tabs-2, .tabs-3, .tabs-4, .tabs-5 {
  text-align: center; }

.red {
  background-color: #4d2e7f !important; }

ul {
  padding: 0; }

dl, h1, h2, h3, h4, h5, h6, ol, p, ul {
  margin-top: 0; }

ul, ul li {
  list-style-type: none; }

address, dl, ol, p, ul {
  margin-bottom: 1rem; }

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  -webkit-transition: all 0s;
  transition: all 0s;
  border-radius: 2px; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  /*background-color: #fff;*/
  border-color: #ddd #ddd #fff; }

.nav-tabs .nav-link {
  border: 0;
  color: #fff; }

.nav-link {
  display: block;
  padding: .5em 1em;
  outline: none; }

a {
  color: #0275d8;
  text-decoration: none;
  cursor: pointer; }

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1; }

.pswp__container, .pswp__img, .waves-effect, a, html {
  -webkit-tap-highlight-color: transparent; }

ul, ul li {
  list-style-type: none; }

user agent stylesheet
li {
  display: list-item;
  text-align: -webkit-match-parent; }

Inherited from ul.nav.nav-tabs.tabs-3.red
.tabs-2, .tabs-3, .tabs-4, .tabs-5 {
  text-align: center; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*padding-left: 0;*/
  margin-bottom: 0;
  list-style: none;
  z-index: 1002; }

ul, ul li {
  list-style-type: none; }

user agent stylesheet
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px; }

.nav-link {
  display: block;
  padding: .5em 1em; }

.nav-tabs .nav-item {
  margin-bottom: -1px; }

.tabs-3 li {
  width: 50%; }

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1; }

.pswp__container, .pswp__img, .waves-effect, a, html {
  -webkit-tap-highlight-color: transparent; }

ul, ul li {
  list-style-type: none; }

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

user agent stylesheet
li {
  display: list-item;
  text-align: -webkit-match-parent; }

Inherited from ul.nav.nav-tabs.tabs-3.red
.tabs-2, .tabs-3, .tabs-4, .tabs-5 {
  text-align: center; }

p {
  font-size: 10px !important;
  margin-right: 50px;
  margin-bottom: -7px; }





