<nav class="navbar navbar-dark navbar-sticky-top  " style="background-color:#ffFFff;z-index: 999">

  <!-- Collapse button-->
  <!--<button class="navbar-toggler hidden-sm-up " type="button" data-toggle="collapse" data-target="#collapseEx">-->
    <!--<i class="fa fa-bars"></i>-->
  <!--</button>-->




  <div class="container " style="margin-top: 15px;margin-bottom: 10px">

    <!--Collapse content-->
    <!--<div class="collapse navbar-toggleable-xs " id="collapseEx">-->
      <!--Navbar Brand-->
      <ul class="nav navbar-nav ">

        <li class="nav-item "   style="font-family: 'Mj_FlowB';float: right;font-size: 200%;margin-top: -15px">
          <a class="nav-link admin-header" > پنل مدیریت </a>
          <!--<a class="nav-link " style="color: white;-webkit-text-stroke: 1px black;"> بوکسام </a>-->
        </li>



        <li class="nav-item"  style="float: right;">
          <a class="nav-link nav-item-hover" [routerLink]="['/admin/book/new']" [routerLinkActive]="['nav-item-active']" > کتاب جدید <i class="fa fa-book " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item"  style="float: right;">
          <a class="nav-link nav-item-hover" [routerLink]="['/admin/bookplace/new']" [routerLinkActive]="['nav-item-active']" > مکان جدید <i class="material-icons md-18 ">location_city</i><span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item"  style="float: right;">
          <a class="nav-link nav-item-hover" [routerLink]="['/admin/store/new']" [routerLinkActive]="['nav-item-active']" > فروشگاه جدید <i class="material-icons md-18 ">domain</i><span class="sr-only">(current)</span></a>
        </li>
        <!--book-adder-->
        <li class="nav-item"  style="float: right;">
          <a class="nav-link nav-item-hover" [routerLink]="['/admin/book/list']" [routerLinkActive]="['nav-item-active']" > لیست کتاب <i class="material-icons md-18 ">domain</i><span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item" routerLink=""  >
          <a class="nav-link nav-item-hover" > <i class="fa fa-home" aria-hidden="true"></i>  صفحه اصلی</a>
        </li>



      </ul>




  </div>





</nav>








