.custom-label {
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right !important;
  left: auto; }

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 10% !important;
  margin-left: 10% !important;
  width: 80%; }
