.cat-item {
  border-right-width: 4px;
  height: 50px;
  padding-top: 13px;
  border-right-color: #4d2e7f;
  /*background-color:rgba(58,123,213,0.07) ;*/
  border-right-style: solid;
  text-align: right;
  padding-right: 10px;
  width: 300px; }

.cat-header {
  padding-top: 20px;
  width: 100%;
  height: 70px;
  background-color: #4d2e7f;
  color: aliceblue;
  text-align: center;
  font-family: Yekan; }

@media screen and (max-width : 760px){
  .cat-item {
    width: 200px;
  }
}
