.confirm-header{
  position: relative;
  top: -10px;
  padding-top: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 50px;

  color: aliceblue;
  text-align: center;
  font-family: Yekan;
}
.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
