<app-header></app-header>
<br>
<br>
<!--<div *ngIf="!success" class="container-fluid z-depth-1-half" style="background-color: #D50000">-->
  <!--<div class="container">-->
    <!--<h6 style="text-align: right;color: #ffFFff;padding-top: 20px;padding-bottom: 16px;direction: rtl"><i class="fa fa-close" aria-hidden="true"></i> فعال سازی حساب</h6>-->
  <!--</div>-->
<!--</div>-->
<!--<div *ngIf="success" class="container-fluid z-depth-1-half" style="background-color: #009688">-->
  <!--<div class="container">-->
    <!--<h6 style="text-align: right;color: #ffFFff;padding-top: 20px;padding-bottom: 16px;direction: rtl"><i class="fa fa-check" aria-hidden="true"></i>  فعال سازی حساب</h6>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="container">-->
  <!--<br>-->
  <!--<p style="text-align: right">{{message}}</p>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
<!--</div>-->



<div class="container card wow fadeIn">
  <h4 *ngIf="!success" class="z-depth-1-half confirm-header" style="background-color: #D50000">فعال سازی حساب</h4>
  <h4 *ngIf="success" class="z-depth-1-half confirm-header" style="background-color: #00C851">فعال سازی حساب</h4>
  <div class="card-block" >
    <br>
    <p *ngIf="success" style="text-align: right;direction: rtl"><i style="color: #00C851" class="fa fa-check" aria-hidden="true"></i> {{message}} </p>
    <p *ngIf="!success" style="text-align: right">{{message}} <i style="color: #D50000" class="fa fa-close" aria-hidden="true"></i></p>
    <br>
    <br>



  </div>
</div>



