
<app-admin-header *ngIf="checkUserGrants('ROLE_ADMIN')"></app-admin-header>
<app-user-header *ngIf="checkUserGrants('ROLE_USER')"></app-user-header>
<app-seller-header *ngIf="checkUserGrants('ROLE_SELLER')"></app-seller-header>

<br>
<br>
<div class="container">

  <div *ngIf="book?.infoType == InfoType.Personal" class="card  wow fadeInUp">
    <h5 class="z-depth-1-half" style="border-top-left-radius: 5px;border-top-right-radius: 5px;position: relative;padding-top: 15px; ;width: 100%;height: 50px;background-color: #00C851;color: aliceblue;text-align: center;font-family: Yekan">اطلاعات تماس</h5>
    <form class="card-block" [formGroup]="callInfoForm">
      <div class="card-block">

        <div class="col-sm-6" style="direction: rtl!important;">
          <div class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class="fa fa-comments-o fa-lg prefix"></i>
              <input formControlName="messengerId" style="margin-right: 50px" type="text" id="form12" class="form-control">
              <label class="custom-label"  for="form12">شناسه پیام رسان:</label>
            </div>
          </div>
        </div>


        <div class="col-sm-6" style="direction: rtl!important;">
          <div class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class="fa fa-envelope-o fa-lg prefix"></i>
              <input formControlName="email" style="margin-right: 50px" type="text" id="form13" class="form-control">
              <label class="custom-label"  for="form13">پست الکترونیک:</label>
            </div>
          </div>
          <div class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class="fa fa-mobile-phone fa-lg prefix"></i>
              <input formControlName="phone" style="margin-right: 50px" type="text" id="form14" class="form-control">
              <label class="custom-label"  for="form14">شماره تماس:</label>
            </div>
          </div>

        </div>

      </div>

    </form>
  </div>
  <br>

  <div class="card wow fadeInUp">
    <h5 (click)="getBookFromLocal()" class="z-depth-1-half" style="border-top-left-radius: 5px;border-top-right-radius: 5px;position: relative;padding-top: 15px; ;width: 100%;height: 50px;background-color: #0099CC;color: aliceblue;text-align: center;font-family: Yekan">مشخصات کتاب</h5>
    <div class="card-block">

      <form [formGroup]="bookForm"  class="card-block book-details">

        <div class="col-sm-6 " style="direction: rtl!important;">

          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-money fa-lg prefix"></i>
            <input formControlName="bookPrice" style="margin-right: 50px" type="text" id="form2" class="form-control">
            <label class="custom-label"  for="form2"><span class="require">*</span>قیمت کتاب:</label>
          </div>

          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-money fa-lg prefix"></i>
            <input formControlName="sellPrice" style="margin-right: 50px" type="text" id="form4" class="form-control">
            <label class="custom-label"  for="form4"><span class="require">*</span>قیمت فروش:</label>
          </div>


          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-calendar-o fa prefix"></i>
            <input formControlName="publishYear" style="margin-right: 50px" type="text" id="form10" class="form-control">
            <label class="custom-label"  for="form10"><span class="require">*</span>سال انتشار:</label>
          </div>


          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-list fa-lg prefix"></i>
            <input (click)="openCategoryModal()" [value]="category?.title" style="margin-right: 50px" type="text" id="form5" class="form-control">
            <label class="custom-label" for="form5"><span class="require">*</span>دسته بندی:</label>
          </div>

          <br>

          <div *ngIf="checkUserGrants('ROLE_ADMIN')" class="md-form">
            <i style="margin-top: 10px" class="fa fa-info fa-lg prefix"></i>
            <div style="margin-right: 40px;">
              <ng-select
                formControlName="pstate"
                [options]="productStates"
                (selected)="selectProductState($event)"
              >
              </ng-select>
            </div>
            <label style="transform: translateY(-180%)!important;" class="custom-label"   ><span class="require">*</span>وضعیت محصول:</label>
          </div>

          <br>

          <div class="md-form">
            <i style="margin-top: 10px" class=" prefix"></i>
            <div style="margin-right: 40px;" *ngIf="bookStates.length > 0">
              <ng-select
                formControlName="bookstate"
                [options]="bookStates"
                (selected)="selectBookState($event)">
              </ng-select>
            </div>
            <label style="transform: translateY(-180%)!important;" class="custom-label"   ><span class="require">*</span>وضعیت کتاب:</label>
          </div>

          <br>

          <div class="md-form">
            <i style="margin-top: 10px" class="prefix"></i>
            <div style="margin-right: 40px;" *ngIf="universities.length > 0">
              <ng-select
                formControlName="univ"
                [options]="universities"
                (selected)="selectUniversity($event)">
              </ng-select>
            </div>
            <label style="transform: translateY(-180%)!important;" class="custom-label"   >دانشگاه:</label>
          </div>

          <br>

          <div class="md-form">
            <i style="margin-top: 10px" class=" prefix"></i>
            <div style="margin-right: 40px;" *ngIf="provinces.length > 0">
              <ng-select
                formControlName="prov"
                [options]="provinces"
                (selected)="selectProvince($event)">
              </ng-select>
            </div>
            <label style="transform: translateY(-180%)!important;" class="custom-label"   >استان:</label>
          </div>

          <br>

          <div class="md-form" *ngIf="cities.length > 0">
            <i style="margin-top: 10px" class=" prefix"></i>
            <div style="margin-right: 40px;" *ngIf="cities.length > 0">
              <ng-select
                formControlName="city"
                [options]="cities"
                (selected)="selectCity($event)">
              </ng-select>
            </div>
            <label style="transform: translateY(-180%)!important;" class="custom-label"   >شهر:</label>
          </div>
        </div>
        <div class="col-sm-6" style="direction: rtl!important;">
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-book fa-lg prefix"></i>
            <input formControlName="title" style="margin-right: 50px" type="text" id="form1" data-toggle="dropdown" class="form-control">
            <label class="custom-label"  for="form1"><span class="require">*</span>نام کتاب:</label>

            <div *ngIf="suggestionBooks?.length > 0"  class="dropdown-menu  dropdown-menu-right" style="height: 300px;overflow: scroll;direction: ltr">
              <div *ngFor="let b of suggestionBooks" (click)="selectSuggestion(b)">
                <a  class="dropdown-item">
                  <p style="text-align: right">{{b.title}}</p>
                  <div class="row">
                    <div class="col-sm-9">
                      <p style="text-align: right;font-size: 12px">{{b.author}}</p>
                      <p style="text-align: right;font-size: 12px">{{b.publisher}}</p>
                      <p style="text-align: right;font-size: 12px">{{b.translator}}</p>
                    </div>
                    <div class="col-sm-3">
                      <img style="width: 40px;height: 60px" [src]="baseFile + 'fid=' + b.coverImage?.id">
                    </div>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </div>
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-pencil fa-lg prefix"></i>
            <input formControlName="author" style="margin-right: 50px" type="text" id="form7" class="form-control">
            <label class="custom-label"   for="form7"><span class="require">*</span>نویسنده:</label>
          </div>
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-language prefix"></i>
            <input formControlName="translator" style="margin-right: 50px" type="text" id="form8" class="form-control">
            <label class="custom-label"  for="form8">مترجم:</label>
          </div>
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-building-o prefix"></i>
            <input formControlName="publisher" style="margin-right: 50px" type="text" id="form3" class="form-control">
            <label class="custom-label"  for="form3">انتشارات:</label>
          </div>
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-edit prefix"></i>
            <input formControlName="edition" style="margin-right: 50px" type="text" id="form15" class="form-control">
            <label class="custom-label"  for="form15">ویرایش:</label>
          </div>
          <br>
          <div class="md-form">
            <i style="margin-top: 10px" class=" prefix"></i>
            <textarea  formControlName="description" style=";margin-right: 50px;height: 100px;" type="text" id="form9" class="form-control"></textarea>
            <label class="custom-label" style="transform: translateY(-170%);"  for="form9">توضیحات:</label>
          </div>
        </div>

      </form>

    </div>
  </div>
  <br>
  <div class="card wow fadeInUp" style="transition: .5s ease;" >
    <h5 class="z-depth-1-half"
        style="border-top-left-radius: 5px;border-top-right-radius: 5px;position: relative;padding-top: 15px; ;width: 100%;height: 50px;background-color: #FF8800;color: aliceblue;text-align: center;font-family: Yekan">نمونه ها</h5>
    <div class="card-block">
      <div class="row">
        <div class="col-md-9">
        <div style="margin-top: 10px" class="wow fadeInUp row" *ngFor="let file of sampleImages;let i = index">
            <label >{{file.name}} - {{file.size|fileSize}}</label>
            <label *ngIf="imagesProgresses[i].complete" style="float: right;font-size: 10px">اتمام بارگزاری</label>
            <label *ngIf="!imagesProgresses[i].complete&&imagesProgresses[i].progress>0" style="float: right;font-size: 10px">در حال بارگزاری</label>
            <md-progress-bar
              class="example-margin"
              [color] = "'warn'"
              [mode]="'determinate'"
              [value]="imagesProgresses[i].progress"
              [bufferValue]="bufferValue">
            </md-progress-bar>
            <button [disabled]="imagesProgresses[i].progress>0" (click)="uploadFile(file,i)"  style="float: right" class="btn btn-dark-green btn-sm">بارگزاری</button>
            <button  (click)="sampleImages.splice(i,1);" style="float: right" class="btn btn-danger btn-sm">حذف</button>
            <br>
            <br>
        </div>


        <div class="wow fadeIn row" *ngIf="coverImage!=null">
          <div *ngIf="book.coverImage!=null" class="col-sm-2">
            <img style="width: 70px;height: 100px;"  [src]="baseFile + 'fid='+ book.coverImage.id +'&isThumb=true'">
          </div>
          <div [ngClass]="{'col-sm-10': book.coverImage!=null}">
            <p style="text-align: right;"> کاور کتاب</p>
            <label >{{coverImage.name}} - {{coverImage.size|fileSize}}</label>
            <label *ngIf="coverImageProgresses?.complete" style="float: right;font-size: 10px">اتمام بارگزاری</label>
            <label *ngIf="!coverImageProgresses?.complete&&coverImageProgresses?.progress>0" style="float: right;font-size: 10px">در حال بارگزاری</label>
            <md-progress-bar
              class="example-margin"
              [color] = "'warn'"
              [mode]="'determinate'"
              [value]="coverImageProgresses.progress"
              [bufferValue]="bufferValue">
            </md-progress-bar>
          </div>
          <button [disabled]="coverImageProgresses?.progress>0" (click)="uploadFile(coverImage,i,true)"  style="float: right" class="btn btn-dark-green btn-sm">بارگزاری</button>
          <button  (click)="book.coverImage = null;coverImage = null" style="float: right" class="btn btn-danger btn-sm">حذف</button>
          <br>
          <br>
        </div>
      </div>
        <div class="col-md-3">
        <button (click)="sample.click()" style="float: right" class="btn btn-amber btn-sm">انتخاب نمونه</button>
        <input #sample type="file" style="display: none" (change)="openFileBrowser($event,false)" multiple  /><br/>
        <button (click)="cover.click()" style="float: right" class="btn btn-amber btn-sm">انتخاب عکس کاور</button>
        <input #cover type="file" style="display: none" (change)="openFileBrowser($event,true)" />
        <br/>
      </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="col-sm-2" *ngFor="let img of book?.images;let i = index">
        <div class="content-image">
          <img class="img-thumbnail" style="width: 100%;height: 200px;"  [defaultImage]="'../../../assets/Spin.svg'"  [lazyLoad]="baseFile + 'fid='+ img.id+'&isThumb=true'">
          <div class="middle">
            <div (click)="book.images.splice(i,1)" class="text">حذف</div>
          </div>
        </div>
    </div>
    </div>
  </div>

  <br>








  <div  class="card wow fadeInUp" *ngIf="checkUserGrants('ROLE_SELLER')">
    <h5 class="z-depth-1-half"
        style="border-top-left-radius: 5px;border-top-right-radius: 5px;position: relative;padding-top: 15px; ;width: 100%;height: 50px;background-color: #aa66cc;color: aliceblue;text-align: center;font-family: Yekan">مغازه ها</h5>
    <div class="card-block">
      <div class="md-form" style="direction: rtl">
        <i style="margin-top: 10px" class="fa fa-building-o fa-lg prefix"></i>
        <input  style="margin-right: 50px" type="text" id="form16" data-toggle="dropdown" class="form-control">
        <label class="custom-label"  for="form16">افزودن فروشگاه:</label>

        <div *ngIf="stores?.length > 0"  class="dropdown-menu  dropdown-menu-right" style="height: 100px;overflow: scroll;direction: ltr">
          <div *ngFor="let s of stores" (click)="selectStore(s)">
            <a  class="dropdown-item">
              <p style="text-align: right">{{s.title}}</p>
            </a>
          </div>
        </div>
      </div>


      <div *ngFor="let store of book?.stores;let i = index">
        <div class="col-sm-3" style="float: right">
          <div  class="card" >
            <img class="img-fluid" *ngIf="store.coverImage!=null" style="height: 300px" [src]="baseFile + 'fid=' + store.coverImage.id">
            <img class="img-fluid" *ngIf="store.coverImage==null" style="width: 100%;height: 200px;fill:#AA66CC!important;" src="../../../assets/images/store.svg">
            <div class="card-block">
              <h6 style="margin-bottom:0px;text-align: center">{{store.title}}</h6>
              <p *ngIf="store.address!=null" style="direction: rtl;padding: 0px;margin: 0px;display: block;text-align: right;font-size: 12px"><i style="margin-top: 10px" class="fa fa-map-marker "></i> {{store.address}} </p>
              <p *ngIf="store.phoneNumber!=''" style="direction: rtl;padding: 0px;margin-bottom: 10px;display: block;text-align: right;font-size: 12px"><i style="margin-top: 10px" class="fa fa-phone "></i> {{store.phoneNumber}} </p>
            </div>
            <button style="float: left" class="btn btn-danger btn-sm" (click)="book.stores.splice(i,1)">X</button>
            <div style="clear: left"></div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <button *ngIf="modificationType==ModificationType.New" (click)="saveBook()" style="float: left"
          class="btn btn-dark-green btn-sm">افزودن کتاب</button>
  <button *ngIf="modificationType==ModificationType.Edit"  (click)="editBook()" style="float: left"
          class="btn btn-dark-green btn-sm">ویرایش کتاب</button>
<br>
<br>
<br>
  <gallery-modal></gallery-modal>


</div>

