.custom-label {
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right !important;
  left: auto; }

i {
  font-size: 20px !important; }

.example-margin {
  margin: 0 10px; }

.card {
  border-radius: 5px; }

.require {
  color: #0099CC;
  font-size: 14px;
  padding: 5px; }

.book-details .md-form .prefix.active {
  color: #0099CC; }

.book-details input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #0099CC;
  box-shadow: 0 1px 0 0 #0099CC; }

.book-details input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #0099CC;
  box-shadow: 0 1px 0 0 #0099CC; }

.book-details input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #0099CC;
  box-shadow: 0 1px 0 0 #0099CC; }

.book-details input[type=text]:focus:not([readonly]) + label {
  color: #0099CC !important; }

.book-details input[type=password]:focus:not([readonly]) + label {
  color: #0099CC !important; }

.book-details input[type=email]:focus:not([readonly]) + label {
  color: #0099CC !important; }

.book-details textarea:focus:not([readonly]) + label {
  color: #0099CC !important; }

.content-image {
  width: 100%; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.content-image:hover .image {
  opacity: 0.3; }

.content-image:hover .middle {
  opacity: 1; }

.text {
  background-color: #D50000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer !important;
  cursor: hand !important; }
