<app-broker-header></app-broker-header>
<br>
<br>
<br>
<br>
<br>
<div class="container" style="direction: rtl">
  <div class="md-form" >
    <p style="font-size: 12px" class=""   >انتخاب مکان رزرو:</p>
    <i style="margin-top: 10px" class=" prefix"></i>
    <div style="" *ngIf="bookplaces_ngselect?.length > 0">
      <ng-select
        [options]="bookplaces_ngselect"
        (selected)="selectBookPlace($event)">
      </ng-select>
    </div>
  </div>
  <br>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>نام کتاب</th>
      <th>تاریخ درخواست</th>
      <th>پیام درخواست کننده</th>
      <th>پیام واسط</th>
      <th>وضعیت</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let br of bookRequests;let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{br.book.title}}</td>
      <td>{{br.dateStart | jalaliPipe}}</td>
      <td>{{br.requestText}}</td>
      <td><textarea #resText style="width: 200px">{{br.responseText}}</textarea></td>
      <td >
        <ng-select
          [(ngModel)]="br.requestState"

          [options]="requestStates_ngselect"
          (selected)="changeRequestState($event,br,resText.value)">
        </ng-select>

      </td>

    </tr>

    </tbody>
  </table>
</div>


<!--placeholder="{{requestStates_ngselect[RequestState[br.requestState]].label}}"-->
