
<div *ngIf="specialBook.book!=null" class="container wow fadeInUp">
  <br>
  <br>
  <div class="card card-cascade wider custom-bg z-depth-2" style="width: 100%;  overflow: hidden; ;border-radius: 5px" >
    <div style="direction: rtl" class="offer">{{(specialBook.book.bookPrice-specialBook.book.sellPrice) / specialBook.book.bookPrice*100 | number : '1.0-0' }}% زیرقیمت</div>
    <div class="row">

      <div class="col-sm-8 col-xs-12">
        <img [routerLink]="['/book/',specialBook?.book?.id,specialBook?.book?.title]" style="height: 250px; width:90%;margin: 25px ;object-fit: cover;" class="custom-border hand-cursor" [src]="baseFile + 'fid='+ specialBook?.posterImageWeb?.id">
      </div>

      <div class="col-sm-4 col-xs-12">
        <div class="card-block text-xs-right" style="margin-right: 60px;margin-top: 20px">
          <br>
          <h6 class="medium-font text-color"><strong>{{specialBook?.book?.title}}</strong> <i class="fa fa-book " aria-hidden="true"></i></h6>
          <hr>

          <p class="medium-font text-color"  >  {{specialBook?.book?.category?.title}} <i class="fa fa-list " aria-hidden="true"></i></p>

          <p class="medium-font text-color" *ngIf="specialBook?.book?.author!=null" >  {{specialBook?.book?.author}} <i class="fa fa-pencil " aria-hidden="true"></i></p>

          <p class="medium-font text-color" *ngIf="specialBook?.book?.publisher!=null" >  {{specialBook?.book?.publisher}} <i class="fa fa-building-o " aria-hidden="true"></i></p>

          <p class="medium-font text-color" *ngIf="specialBook?.book?.translator!=null"> {{specialBook?.book?.translator}} <i class="fa fa-language " aria-hidden="true"></i></p>

          <p class="medium-font text-color " *ngIf="specialBook?.book?.publishYear!=null" >  {{specialBook?.book?.publishYear}} <i class="fa fa-calendar-o " aria-hidden="true"></i></p>


          <p class="medium-font text-color " *ngIf="specialBook?.book?.city!=null" >  {{specialBook?.book?.city?.title}} <i class="fa fa-map-marker " aria-hidden="true"></i></p>

          <!--<p class="medium-font text-color "  > <span style="font-size: 11px;text-decoration: line-through;"> {{specialBook?.book?.bookPrice}}</span> {{specialBook?.book?.sellPrice}} تومان <i class="fa fa-money " aria-hidden="true"></i></p>-->

          <!--<p class="medium-font text-color " *ngIf="specialBook?.book?.sellPrice!=null" >  {{specialBook?.book?.publishYear}} <i class="fa fa-calendar-o " aria-hidden="true"></i></p>-->

          <button [routerLink]="['/book/',specialBook.book.id,specialBook.book.title]"  type="button" class="btn btn-success btn-sm" style="float: right;font-size: 15px;direction: rtl"><span style="font-size: 11px;text-decoration: line-through;"> {{specialBook?.book?.bookPrice}}</span> {{specialBook?.book?.sellPrice}} تومان </button>
        </div>
      </div>
    </div>
  </div>

</div>



