.custom-border {
  border-style: dashed;
  border-radius: 1%;
  border-color: #ffFFff;
  border-width: 2px; }

.text-color {
  color: #e8e8e8; }

.custom-bg {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #53346D, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #53346D, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 10% !important;
  margin-left: 10% !important;
  width: 80%; }

.offer {
  display: block;
  width: 200px;
  height: 30px;
  background-color: #00d255;
  color: #e8e8e8;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  text-align: center;
  line-height: 30px;
  right: -40px;
  top: 35px;
  font-size: 15px; }
