<ng2-slim-loading-bar [color]="'#4e2f7f'"></ng2-slim-loading-bar>

<router-outlet ></router-outlet>
<app-footer ></app-footer>

<div  id="step_two_element_id" class="hand-cursor"  style="z-index: 1!important;position: fixed;left: 20px;bottom: 20px;background-color: #53346D;padding: 10px;border-radius: 50%">
  <img mdTooltip="شما هم  کتاب هایتان را به بوکسام اضافه کنید" [mdTooltipPosition]="'after'" (click)="addBook()" id="wiggle" src="../assets/images/add-books1.png" style="width: 32px;height: 32px">
</div>

<div *ngIf="isAndroidOS" id="bottomBar" >
  <div class="container">
    <p style="color: #ffFFff;text-align:center;padding-top: 10px;font-size: 12px"> می توانید برای کارایی بالاتر از برنامه اندروید بوکسام استفاده کنید </p>
  </div>

  <div class=" row">
    <div class="col-xs-1"></div>
      <div class="col-xs-3" style="padding-top: 10px">
        <a (click)="closeAndroidBottomBar()" style="color: #ffFFff;font-size: 12px;"> فعلا نه <i class="fa fa-close" aria-hidden="true"></i></a>
      </div>
      <div class="col-xs-7">
        <a href="https://cafebazaar.ir/app/ir.booksum/"  target="_blank" style="width: 100%;padding: 10px ;direction: rtl"  class="btn  btn-light-green app-item" >
          <img style="display: inline" width="20px" height="20px" src="../../assets/images/cafebazar2.png">
          <span class="footer-btn-txt"> دریافت از بازار </span>

        </a>
      </div>
      <div class="col-xs-1">

      </div>

  </div>
</div>
