
<app-header></app-header>

<br>
<br>

<div *ngIf="type=='search'" class="container card wow fadeIn">
  <h4 class="z-depth-1-half search-header" style="">جست و جو</h4>
  <form class="card-block" [formGroup]="searchForm">

    <div class="row" style="direction: rtl!important" >
      <div class="col-sm-6" style=";padding: 0px 50px 0px 50px!important;">

        <div class="row">
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-list fa-lg prefix"></i>
            <input formControlName="catSearch" (click)="openCategoryModal()" [value]="categorySearch?.title" style="margin-right: 50px" type="text" id="form5" class="form-control">
            <label class="custom-label" for="form5">دسته بندی:</label>
          </div>
        </div>
        <br>

        <div style="margin-top: 10px" class="row">
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-university fa-lg prefix"></i>
            <div style="margin-right: 40px;" *ngIf="universities.length > 0">
              <ng-select
                [options]="universities"
                (selected)="selectUniversity($event)"

              >

              </ng-select>
            </div>
            <label style="transform: translateY(-180%)!important;" class="custom-label"   >دانشگاه:</label>
          </div>
        </div>

        <br>
        <div style="margin-top: 10px" class="row">
          <div class="md-form">
            <i style="margin-top: 10px" class=" prefix"></i>
            <div style="margin-right: 40px;" *ngIf="bookStates.length > 0">
              <ng-select
                [options]="bookStates"
                (selected)="selectBookState($event)">
              </ng-select>
            </div>
            <label style="transform: translateY(-180%)!important;" class="custom-label"   ><span class="require">*</span>وضعیت کتاب:</label>
          </div>
        </div>

        <br>



        <div style="margin-top: 10px" class="row">
          <div class="md-form">
            <i style="margin-top: 10px" class="fa prefix"></i>
            <div style="margin-right: 40px;" *ngIf="provinces.length > 0">
              <ng-select
                [options]="provinces"
                (selected)="selectProvince($event)">
              </ng-select>
            </div>
            <label style="transform: translateY(-180%)!important;" class="custom-label"   >استان:</label>
          </div>
        </div>

        <br>

        <div class="md-form" *ngIf="cities.length > 0">
          <i style="margin-top: 10px" class=" prefix"></i>
          <div style="margin-right: 40px;" *ngIf="cities.length > 0">
            <ng-select
              [options]="cities"
              (selected)="selectCity($event)">
            </ng-select>
          </div>
          <label style="transform: translateY(-180%)!important;" class="custom-label"   >شهر:</label>
        </div>




      </div>


      <div class="col-sm-6" style="direction: rtl!important;padding: 0px 50px 0px 50px!important;">
        <div class="row">
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-book fa-lg prefix"></i>
            <input formControlName="title" style="margin-right: 50px" type="text" id="form3" class="form-control">
            <label class="custom-label"  for="form3">نام کتاب:</label>
          </div>
        </div>
        <div class="row">
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-calendar fa-lg prefix"></i>
            <input formControlName="author" style="margin-right: 50px" type="text" id="form4" class="form-control">
            <label class="custom-label"  for="form4">نویسنده:</label>
          </div>
        </div>

        <div class="row">
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-building-o fa-lg prefix"></i>
            <input formControlName="publisher" style="margin-right: 50px" type="text" id="form6" class="form-control">
            <label class="custom-label"  for="form6">ناشر:</label>
          </div>
        </div>


        <div class="row">
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-calendar-o fa-lg prefix"></i>
            <input formControlName="publishYear" style="margin-right: 50px" type="text" id="form7" class="form-control">
            <label class="custom-label"  for="form6">سال انتشار:</label>
          </div>
        </div>


        <div class="row">
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-language fa-lg prefix"></i>
            <input formControlName="translator" style="margin-right: 50px" type="text" id="form4" class="form-control">
            <label class="custom-label"  for="form4">مترجم:</label>
          </div>
        </div>


      </div>
      <div class="row">
        <button style="float: left;margin-left: 50px" type="button" (click)="findBooks(false)" class="btn btn-success btn-accent" >جست و جو</button>
      </div>
    </div>


  </form>
</div>


<div class="container"

>
  <h6 style="text-align: right;direction:rtl;display: block ;padding-top: 10px;padding-right: 15px" >{{title}}</h6>
  <br style="clear: right">

  <div  style="" *ngFor="let j of books">
    <app-book   [book]="j"></app-book>
  </div>

</div>
<!--<div class="container wow fadeInUp">-->
<!--<button *ngIf="showMore" type="button" style="margin-left: 15px" (click)="loadMore()"  class="btn btn-dark-green btn-sm">بیشتر</button>-->
<!--</div>-->

<br>
<br>
<br>

