.booklet {
  margin-top: 30px !important; }

.custom-label {
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right !important;
  left: auto; }

i {
  font-size: 20px !important; }

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 10% !important;
  margin-left: 10% !important;
  width: 80%; }

.search-header {
  position: relative;
  top: -10px;
  padding-top: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 50px;
  background-color: #4d2e7f;
  color: aliceblue;
  text-align: center;
  font-family: Yekan; }
