.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 10% !important;
  margin-left: 10% !important;
  width: 80%; }

.more-link {
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #ffFFff !important;
  direction: rtl;
  background-color: #4d2e7f;
  padding: 4px 12px 4px 12px;
  border-radius: 2px; }


