<!--<div *ngIf="bookPages.length>0" class="container wow fadeInUp">-->
  <!--<br>-->
  <!--<br>-->

  <!--&lt;!&ndash;<button style="display: inline;margin-left: 5px;float: left" type="button"  (click)="loadMore()"  class="btn btn-dark-green btn-sm">بیشتر</button>&ndash;&gt;-->
  <!--<button style="display: inline;margin-left: 5px;" type="button"  (click)="loadMore()"  class="btn btn-dark-green btn-sm">بیشتر</button>-->

  <!--<h6 style="float: right;display: inline ;padding-right: 15px;padding-top: 10px;" >{{bookSection.title}}</h6>-->
  <!--&lt;!&ndash;<a class="btn-floating btn-small blue"><i class="fa fa-star"></i></a>&ndash;&gt;-->

  <!--&lt;!&ndash;*ngIf="bookPages.length > 1"&ndash;&gt;-->
  <!--<div style="position:relative" class="">-->
    <!--<i   class="fa fa-chevron-right fa-2x NewNextBtn hand-cursor opacity-hover"  [attr.href] = "'#'+car_id"  data-slide="next" style="position: absolute;-->
  <!--top: 170px;-->
  <!--right: -30px;"></i>-->
    <!--&lt;!&ndash;href="#{{id}}"&ndash;&gt;-->
    <!--<i  class="fa fa-chevron-left fa-2x NewPrevBtn hand-cursor opacity-hover" [attr.href] = "'#'+car_id"  data-slide="prev" style="position: absolute;-->
  <!--top: 170px;-->
  <!--left: -30px;"></i>-->
    <!--&lt;!&ndash;book-carousel&ndash;&gt;-->
    <!--<div id="{{car_id}}" #car class="carousel slide carousel-multi-item" data-ride="carousel">-->
      <!--&lt;!&ndash;Slides&ndash;&gt;-->
      <!--<div class="carousel-inner" role="listbox">-->
        <!--&lt;!&ndash;First slide&ndash;&gt;-->
        <!--<div class="carousel-item" *ngFor="let bp of this.bookPages;let i = index"  [ngClass]="{'active': i === 0}">-->
          <!--<div *ngFor="let bl of bp.books;let i = index">-->
            <!--<app-book [book]="bl"></app-book>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->



<br>
<br>
<div class="container"  id="step_three_element_id">

  <a  class="more-link"  (click)="loadMore()"  >بیشتر</a>
  <p style="margin-bottom: 10px;float: right;display: inline-block;vertical-align: top;padding-right: 16px;font-size: 14px" ><strong>{{bookSection.title}}</strong></p>
  <div style="clear: both"></div>
  <div style="position:relative" class="">
    <i (click)="owlElement.next([200])"  class="fa fa-chevron-right fa-2x NewNextBtn hand-cursor opacity-hover"    data-slide="next" style="position: absolute;
        top: 150px;
        right: -30px;"></i>
    <!--href="#{{id}}"-->
    <i (click)="owlElement.previous([200])"  class="fa fa-chevron-left fa-2x NewPrevBtn hand-cursor opacity-hover"   data-slide="prev" style="position: absolute;
        top: 150px;
        left: -30px;"></i>
  </div>
  <owl-carousel

    #owlElement
    [options]="{dots: true,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        loop:true,
        responsiveClass:true,
        responsive:{
        '0':{
            items:1
        },
        '350':{
            items:2
        },
        '600':{
            items:3
        },
        '800':{
            items:4
        },
        '1000':{
            items:5
        },
        '1200':{
            items:6
        }
       }
    }"
    [items]="bookSection.bookList"
    [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let book of bookSection.bookList;let i = index">
      <app-book [forCarousel]="true" [book]="book"></app-book>
    </div>
  </owl-carousel>
</div>
