agm-map {
  height: 200px; }

.prop-item {
  margin-bottom: 0px;
  direction: rtl;
  padding: 5px;
  display: block;
  text-align: right;
  font-size: 12px; }

.custom-label {
  transform: translateY(-160%);
  font-size: 12px;
  margin-right: 50px;
  float: right !important;
  left: auto; }

textarea:focus:not([readonly]) + label {
  color: #4F5E7E !important; }
