<h5 class="z-depth-1-half" style="padding-top: 20px;width: 100%;height: 70px;background-color: #4f5e7e;color: aliceblue;text-align: center;font-family: Yekan">لیست مکان های رزرو</h5>
<div class="container">
  <div style="padding: 10px" *ngFor="let bp of bookPlaces;let i = index">
    <div class="card-block hand-cursor-shadow">
      <div class="row">
          <div class="col-sm-4">
            <agm-map [latitude]="bp.latitude" [longitude]="bp.longitude" [zoom]="zoom">
              <agm-marker [latitude]="bp.latitude" [longitude]="bp.longitude"></agm-marker>
            </agm-map>
          </div>
          <div class="col-sm-5">
            <button class="btn btn-mdb btn-sm" (click)="showRequest != i?showRequest=i:showRequest=-1" style="float: left">درخواست رزرو</button>
            <h6 style="margin-bottom:10px;;text-align: right">{{bp.title}}</h6>
            <p *ngIf="bp.address!=null" class="prop-item" ><i class="material-icons md-18 md-dark">location_on</i> {{bp.address}} </p>
            <p *ngIf="bp.phoneNumber!=''" class="prop-item" ><i class="material-icons md-18 md-dark">local_phone</i> {{bp.phoneNumber}} </p>
            <p *ngIf="bp.mobileNumber!=''" class="prop-item" ><i class="material-icons md-18 md-dark">smartphone</i> {{bp.mobileNumber}} </p>
            <p *ngIf="bp.city!=null" class="prop-item"><i class="material-icons md-18 md-dark">location_city</i> {{bp.city.title}} </p>
            <p *ngIf="bp.university!=null" class="prop-item" ><i class="material-icons md-18 md-dark">domain</i> {{bp.university.title}} </p>
            <p *ngIf="bp.description!=null" style="margin-bottom: 0px;direction: rtl;padding: 0px;display: block;text-align: right;font-size: 12px"><i class="material-icons md-18 md-dark">edit</i> {{bp.description}} </p>
          </div>
          <div class="col-sm-3">
            <img *ngIf="bp?.coverImage!=null" style="width: 100%;height: 200px" [src]="baseFile + 'fid=' + bp.coverImage.id">
            <img *ngIf="bp?.coverImage==null" style="width: 100%;height: 200px" src="../../../../assets/images/bookplace.svg">
          </div>
      </div>
      <br>
      <div *ngIf="showRequest==i" class="row">
        <h5 style="text-align: center">فرم رزرو کتاب</h5>
        <p style="padding-right: 25px;text-align: right;direction: rtl;font-size: 12px"> شما برای کتاب  <strong>{{book.title}}</strong>  به نویسندگی <strong>{{book.author}}</strong> و مبلغ <strong>{{book.sellPrice}}</strong> تومان درخواست رزرو این کتاب در محل <strong>{{bp.title}}</strong> را دارید. </p>
        <p style="padding-right: 25px;text-align: right;direction: rtl;font-size: 12px"> زمان ارسال محصول شما بین ۱ روز تا ۱ ماه با توجه به تعداد درخواست ها می تواند متغیر باشد. </p>
        <p style="padding-right: 25px;text-align: right;direction: rtl;font-size: 12px"> شما همچنین می توانید توضیحات خود را در کادر پایین وارد کنید. </p>

        <div class="md-form" style="direction: rtl;margin-bottom: 0px;">
          <i style="margin-top: 10px" class=" prefix"></i>
          <textarea #desc style="margin-bottom: 0px;padding: 10px;margin-right: 25px;height: 50px;" type="text" id="form9" class="form-control"></textarea>
          <!--<label class="custom-label" style="transform: translateY(-170%);"  for="form9">توضیحات برای ارسال(اختیاری):</label>-->
        </div>

        <button (click)="sendRequest(desc.value,bp)" class="btn btn-dark-green btn-sm" style="margin-left: 20px">ارسال درخواست</button>
      </div>
    </div>
  </div>
</div>
