div ul li a {
  color: rgba(96, 92, 93, 0.91); }

div ul li a:hover {
  color: #00796B; }

.sub-nav-item-hover {
  border-bottom: none;
  /*color: #262626;*/
  /*background-color: #ffFFff;*/ }

.sub-nav-item-hover:hover {
  border-bottom: solid #18A187 thick;
  /*color: #ffFFff!important;*/
  /*background-color: #18A187;*/ }

.sub-nav-item-active {
  border-bottom: solid #18A187 thick;
  /*color: #ffFFff!important;*/
  /*background-color: #18A187;*/ }
