<nav class="navbar navbar-dark  header-bg-color z-depth-1 " style="z-index: 900;padding-bottom: 0px">


  <div class="container " style="margin-top: 5px">

    <!--Collapse content-->
    <!--<div class="collapse navbar-collapse navbar-toggleable-sm" id="collapseEx">-->
    <!--Navbar Brand-->
    <ul class="nav navbar-nav ">


      <li class="nav-item" style="float: right;" >
        <a [routerLink]="['/user/financial/account']" [routerLinkActive]="'sub-nav-item-active'" class="nav-link waves-effect sub-nav-item-hover"  > مشخصات حساب مالی<span class="sr-only">(current)</span></a>
      </li>

      <li  class="nav-item"  style="float: right;">
        <a [routerLink]="['/user/financial/payments']"  [routerLinkActive]="'sub-nav-item-active'" class="nav-link waves-effect sub-nav-item-hover"  > پرداخت های کاربر <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item"  style="float: right;">
        <a [routerLink]="['/user/financial/transactions']" [routerLinkActive]="'sub-nav-item-active'"  class="nav-link waves-effect sub-nav-item-hover"  > تراکنش ها <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item"   style="float: right;">
        <a [routerLink]="['/user/financial/pony']" [routerLinkActive]="'sub-nav-item-active'"  class="nav-link waves-effect sub-nav-item-hover"  > تسویه حساب ها <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>
