<app-header></app-header>
<div class="bg">
  <br>
  <br>



  <div class="row">
      <div class="col-xs-1">

      </div>

      <div class="col-xs-10" >
        <div class="card wow fadeInUp" style="margin-top: 0px">

          <div class="card-block" >

            <p style="text-align: center;font-size: 16px!important;">{{store.title}}</p>
            <div class="row" >
              <div class="col-sm-7" style="padding: 10px 30px 10px 30px" >
                <div style="clear: both;padding: 0px 40px 20px 0px">
                  <agm-map
                    [latitude]="store.latitude"
                    [longitude]="store.longitude"
                    [zoom]="12"
                    >

                    <agm-marker
                      [latitude]="store.latitude"
                      [longitude]="store.longitude"
                      [label]="store.title"
                    >
                    </agm-marker>


                  </agm-map>
                </div>
              </div>
              <div class="col-sm-5" style="padding-right: 50px">
                <div *ngIf="store?.address!=''" class="row" style="direction: rtl">
                  <label><i style="margin-top: 10px" class="fa fa-map-marker fa-lg prefix"></i> آدرس:</label>
                  <label style="font-size: 16px">{{store?.address}}</label>
                </div>
                <div *ngIf="store?.phoneNumber!=''" class="row" style="direction: rtl;margin-top: 10px;">
                  <label ><i style="margin-top: 10px" class="fa fa-phone fa-lg prefix"></i> شماره ثابت:</label>
                  <label style="font-size: 16px">{{store?.phoneNumber}}</label>
                </div>

                <div *ngIf="store?.mobileNumber!=''" class="row" style="direction: rtl;margin-top: 10px;">
                  <label ><i style="margin-top: 10px" class="fa fa-mobile-phone fa-lg prefix"></i> شماره همراه:</label>
                  <label style="font-size: 16px">{{store?.mobileNumber}}</label>
                </div>
                <div *ngIf="store?.description!='' && store?.description!=null" class="row" style="direction: rtl;margin-top: 10px;">
                  <label ><i  class="fa fa-pencil-square-o fa prefix" style="margin-top: 10px"></i> توضیحات:</label>
                  <label style="font-size: 13px">{{store?.description}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-1" >

      </div>

  </div>
  <br>
  <br>

  <div class="container-fluid" style="background-color: #fafafa">
    <div class="container">
      <br>
      <br>
      <br>
      <div   *ngFor="let b of books">
        <app-book   [book]="b"></app-book>
      </div>
      <p  id="more">_</p>
    </div>
  </div>

</div>

