<div class="cat-dialog" >
  <h4 class="z-depth-1 cat-header" style="">شهر ها</h4>


  <div class="card-block">
    <p class="cat-item hand-cursor z-depth-1"  *ngFor="let p of provs" (click)="selectActiveProvince(p.id,p.title)"  >{{p.title}}</p>
  </div>    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
  <!--<p class="cat-item hand-cursor z-depth-1"  *ngFor="let cat of categories" (click)="openModal()"  >{{cat.title}}</p>-->
</div>
