<h5 class="z-depth-1-half" style="padding-top: 20px;width: 100%;height: 70px;background-color: #aa66cc;color: aliceblue;text-align: center;font-family: Yekan">لیست فروشگاه ها</h5>
<div class="container">
  <div style="padding: 10px" *ngFor="let store of stores">
    <div class="card-block hand-cursor-shadow">
        <!--<div class="col-sm-3" >-->
          <!--<img *ngIf="store?.coverImage!=null" style="width: 100%;height: 200px" [src]="baseFile + 'fid=' + store.coverImage.id">-->
          <!--<img *ngIf="store?.coverImage==null" style="width: 100%;height: 200px" src="../../../../assets/images/store.svg">-->
        <!--</div>-->
      <div class="col-sm-6" style="margin-bottom: 20px">
        <agm-map [latitude]="store.latitude" [longitude]="store.longitude" [zoom]="zoom">
          <agm-marker [latitude]="store.latitude" [longitude]="store.longitude"></agm-marker>
        </agm-map>
      </div>

        <div class="col-sm-5">
          <h6 style="margin-bottom:10px;;text-align: right">{{store.title}}</h6>
          <p *ngIf="store.address!=null" class="prop-item" ><i class="material-icons md-18 md-dark">location_on</i> {{store.address}} </p>
          <p *ngIf="store.phoneNumber!=''" class="prop-item" ><i class="material-icons md-18 md-dark">local_phone</i> {{store.phoneNumber}} </p>
          <p *ngIf="store.mobileNumber!=''" class="prop-item" ><i class="material-icons md-18 md-dark">smartphone</i> {{store.mobileNumber}} </p>
          <p *ngIf="store.university!=null" class="prop-item" ><i class="material-icons md-18 md-dark">domain</i> {{store.university.title}} </p>
          <p *ngIf="store.description!=''" style="margin-bottom: 0px;direction: rtl;padding: 0px;display: block;text-align: right;font-size: 12px"><i class="material-icons md-18 md-dark">edit</i> {{store.description}} </p>
        </div>


      </div>

  </div>
</div>
