
<div class="container-fluid" style="width: 100%;padding: 0px;">

  <owl-carousel
    #owlElement
    style="width: 100%"
    [options]="{dots: true,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        loop:true,
        responsiveClass:true,
        responsive:{
        '0':{
            items:1
        },
        '500':{
            items:2
        },
        '1000':{
            items:3
        }
       }
    }"
    [items]="sliderSection?.sliderList"
    [carouselClasses]="['owl-theme']">
    <div class="item" *ngFor="let slider of sliderSection?.sliderList;let i = index">
      <img *ngIf="slider.sliderType=='Book'" [routerLink]="['/book',slider.product.uid,beautifyTitle(slider.product.title)]" style="width: 100% ;height: 100%;cursor: hand" [src]="baseFile + 'fid='+slider.image.id"  >
      <!--<img   style="width: 100% ;height: 100%;cursor: hand" [src]="'../../assets/images/ds'+(i+1)+'.jpg'"  >-->
    </div>
  </owl-carousel>
</div>
