<h5 class="z-depth-1-half" style="padding-top: 20px;width: 100%;height: 70px;background-color: #4f5e7e;color: aliceblue;text-align: center;font-family: Yekan">لیست مکان های رزرو</h5>

<div class="container" style="padding: 20px">
  <div *ngFor="let bpi of bookplaceItems" style="direction: rtl">
    <md-checkbox style="padding: 10px;" class="example-margin" [(ngModel)]="bpi.checked"><p style="padding: 20px 10px 0px 0px">{{bpi.bookplace.title}} - {{bpi.bookplace.city.title}}</p> </md-checkbox>
  </div>
  <button (click)="addBook()" class="btn btn-sm btn-mdb">ذخیره تغییرات</button>
</div>
