<app-seller-header></app-seller-header>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="card" style="padding: 10px" *ngFor="let store of stores">
    <div class="card-block ">
      <div class="col-sm-4">
        <agm-map [latitude]="store.latitude" [longitude]="store.longitude" >
          <agm-marker [latitude]="store.latitude" [longitude]="store.longitude"></agm-marker>
        </agm-map>
      </div>
      <div class="col-sm-5">
        <button class="btn btn-mdb btn-sm" [routerLink]="['/seller','store','edit',store.id]" style="position: absolute;left: 0px;top: 0px;">ویرایش</button>
        <h6 style="margin-bottom:10px;;text-align: right">{{store.title}}</h6>
        <p *ngIf="store.address!=null" class="prop-item" ><i class="material-icons md-18 md-dark">location_on</i> {{store.address}} </p>
        <p *ngIf="store.phoneNumber!=''" class="prop-item" ><i class="material-icons md-18 md-dark">local_phone</i> {{store.phoneNumber}} </p>
        <p *ngIf="store.mobileNumber!=''" class="prop-item" ><i class="material-icons md-18 md-dark">smartphone</i> {{store.mobileNumber}} </p>
        <p *ngIf="store.university!=null" class="prop-item" ><i class="material-icons md-18 md-dark">domain</i> {{store.university.title}} </p>
        <p *ngIf="store.description!=''" style="margin-bottom: 0px;direction: rtl;padding: 0px;display: block;text-align: right;font-size: 12px"><i class="material-icons md-18 md-dark">edit</i> {{store.description}} </p>

      </div>
      <div class="col-sm-3">
        <img *ngIf="store?.coverImage!=null" style="width: 100%;height: 200px" [src]="baseFile + 'fid=' + store.coverImage.id">
        <img *ngIf="store?.coverImage==null" style="width: 100%;height: 200px" src="../../../assets/images/store.svg">
      </div>
    </div>
  </div>
</div>

