<app-seller-header></app-seller-header>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="md-form" style="direction: rtl">
    <i style="margin-top: 10px" class=" prefix"></i>
    <div style="margin-right: 40px;z-index: 2!important;" *ngIf="stores_ngselect.length > 0">
      <ng-select style="z-index: 2!important;"
        [options]="stores_ngselect"
        (selected)="selectStore($event)">
      </ng-select>
    </div>
    <label style="transform: translateY(-180%)!important;" class="custom-label"   >انتخاب مغازه:</label>
  </div>
  <br>
  <div *ngFor="let book of books">
    <app-book [forSeller]="true" [book]="book"></app-book>
  </div>
</div>
