<div [ngClass]="{'col-lg-2 col-md-4 col-sm-6 col-xs-12':!forCarousel,'fullwidth':forCarousel}"
     class="book-hover hand-cursor wow fadeIn " style=";float: right;padding: 0px 10px 20px 10px"
     xmlns="http://www.w3.org/1999/html">



  <div class=" card-cascade  hand-cursor "  >

    <!--<a  *ngIf="!forBroker"  style=";z-index: 1;position: absolute;width: 100%;height: 100%" [routerLink]= "['/book',book?.uid,book?.title.replace('/ /g','-')|decodeUrlPipe]" ></a>-->
    <div  *ngIf="forBroker" style="z-index: 1;position: absolute;width: 100%;height: 100%" (click)="selectBookplaceDialog()"></div>

    <div class="image-block">
      <div class="z-depth-1   hand-cursor">

        <div class="content-image">
          <a [routerLink]= "['/book',book?.uid,book?.title.replace('/ /g','-')|decodeUrlPipe]">
            <figure><img id="cover-image" class="img-fluid hand-cursor z-depth-1" style="width: 100%;height: 250px;border-top-left-radius: 4px;border-top-right-radius: 4px" [defaultImage]="'../../../assets/Spin.svg'" [lazyLoad]="baseFile + 'fid=' + book?.coverImage?.id + '&isThumb=true'">
             </figure>
          </a>
          <div class="middle" *ngIf="forAdmin"style="z-index: 2!important;">
            <div style="z-index: 5!important;" (click)="book.images.splice(i,1)" [routerLink]= "['/admin/book/edit',book?.id]" class="text"> ویرایش </div>
          </div>

          <div class="middle" *ngIf="forSeller || editable"style="z-index: 2!important;">
            <div style="z-index: 5!important;"  [routerLink]= "['/seller/book/edit',book?.id]" class="text"> ویرایش </div>
          </div>
        </div>


      </div>
    </div>
    <!--/Card image-->

    <!--Card content-->

    <div  class="card-block text-xs-right" style="padding: 0px">
      <!--Title-->
      <div class="book-details">
          <a [routerLink]= "['/book',book?.uid,book?.title.replace('/ /g','-')|decodeUrlPipe]">
            <h6 mdTooltip="{{book?.title}}" style="font-size: 12px;padding-bottom: 0px;text-align: center" class="card-title title"><strong>{{book?.title}}</strong></h6>
          </a>
          <div *ngIf="forBroker">
            <h6  *ngFor="let store of book.stores" style="font-size: 12px" class="card-title title">{{store.title}}</h6>
          </div>
          <h6 [routerLink]= "['/book',book?.uid,book?.title.replace('/ /g','-')|decodeUrlPipe]" class="city-color" *ngIf="book?.city!=null" style="font-size: 11px;text-align: center"> {{book?.city?.province?.title}} | {{book?.city?.title}} </h6>
          <a [routerLink]= "['/book',book?.uid,book?.title.replace('/ /g','-')|decodeUrlPipe]">
          <p  class="price-text"><span class="book-price" style="font-size: 11px;text-decoration: line-through;color: red"> {{book?.bookPrice}}</span> {{book?.sellPrice}} تومان </p>
          </a>
        <div *ngIf="forAdmin" >
            <br>
            <ng-select
               ngModel="{{ProductState[book.productState]}}"
               [options]="bookStates"
               (selected)="changeBookState($event)">
            </ng-select>
          </div>
      </div>
    </div>

  </div>
  <!--/.Card-->

</div>

