.book:hover {
  cursor: hand; }

p {
  white-space: normal;
  direction: rtl;
  max-height: 3.6em;
  /*width: 40px;*/
  text-overflow: ellipsis;
  overflow: hidden; }

.card {
  border-radius: 4px; }

.title {
  white-space: nowrap;
  direction: rtl;
  height: 1.5em;
  color: #3b4c56;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px !important; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.content-image:hover .image {
  opacity: 0.3; }

.text {
  background-color: #D50000;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
  cursor: pointer !important;
  cursor: hand !important; }

.fullwidth {
  width: 100%; }

.card:hover {
  border: 1px solid rgba(82, 100, 127, 0.7);
  box-shadow: none; }

.card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: none; }

.city-color {
  color: #3fb3ec; }

.book-hover {
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.image-block {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.book-details {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.book-hover:hover .price-text {
  background-color: #4d2e7f;
  color: #ffFFff; }

.book-hover:hover .book-price {
  color: #ffFFff !important; }

.book-hover:hover .image-block {
  margin-top: 5px;
  -webkit-filter: sepia(50%);
  filter: sepia(50%); }

.book-hover:hover .book-details {
  margin-top: -5px;
  -webkit-filter: sepia(50%);
  filter: sepia(50%); }

figure {
  -webkit-filter: sepia(0%);
  filter: sepia(0%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.price-text {
  text-align: center;
  font-size: 11px;
  color: #4d2e7f;
  border: solid #4d2e7f 1px;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  margin-right: 20px;
  margin-left: 20px;
  direction: rtl !important;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.book-hover:hover .middle {
  opacity: 1; }

.book-hover:hover {
  z-index: 2; }

@media screen and (max-width : 400px){
  #cover-image{
    height: 200px!important;
  }
}
@media screen and (max-width : 350px){
  #cover-image{
    height: 250px!important;
  }
}
