.custom-label {
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right !important;
  left: auto; }

i {
  font-size: 20px !important; }

.example-margin {
  margin: 0 10px; }

.card {
  border-radius: 5px; }

.round {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /*left: 10%;*/
  /*position: relative;*/
  /*bottom: 50px;*/ }

.round img {
  display: block;
  margin: 0px;
  padding: 0px;
  /* Stretch
        height: 100%;
        width: 100%; */
  width: 50px;
  height: 50px;
  /*background-color: #009688;*/ }

agm-map {
  height: 300px; }
