<app-header></app-header>
<!--<app-slider></app-slider>-->
<div *ngFor="let wc of webComponents;let i = index">
  <div [ngSwitch]="wc?.componentType">
    <div  *ngSwitchCase="WebComponentType.SliderSectionWC">
      <app-slider [sliderSection]="wc.sliderSection"></app-slider>
    </div>
    <div  *ngSwitchCase="WebComponentType.BookSection">
      <app-book-carousel [car_id] = "'car' + i" [bookSection]="wc.bookSection" ></app-book-carousel>
    </div>
    <div *ngSwitchCase="WebComponentType.SpecialBook">
      <app-special-book [specialBook]="wc.specialBook" ></app-special-book>
    </div>
    <div *ngSwitchCase="WebComponentType.CategorySection">
      <app-category-section [categorySection]="wc.categorySection" ></app-category-section>
    </div>
  </div>
</div>
<br>
